<section class="HomeMatchWidgetPlugin Block Asphalt">
	<div class="container">
		<div class="row MatchWidgetBlock">
			{% if tags %}
				{% for event in tags %}
					<div class="col col-md-4 col-sm-4 col-xs-12 Match">
						<div class="EventBlock">
							<div class="EventTeams">
								{% if event.teams.left %}
									<div class="TeamHolder">
										{% if event.teams.left.image %}
											<div class="TeamLogo">
												<img src="{{ file_url(event.teams.left.image) }}">
											</div>
										{% endif %}
										<span class="TeamName">{{ event.teams.left.name }}</span>
									</div>
								{% endif %}
								<div class="Vs">{{ "se_fodbald_team_vs"|t }}</div>
								{% if event.teams.right %}
									<div class="TeamHolder">
										{% if event.teams.right.image %}
											<div class="TeamLogo">
												<img src="{{ file_url(event.teams.right.image) }}">
											</div>
										{% endif %}
										<span class="TeamName">{{ event.teams.right.name }}</span>
									</div>
								{% endif %}
							</div>
						</div>
						<div class="MatchText text">
							<p>{{ "se_fodbald_widget_text"|t }}</p>
						</div>
						<div class="MatchLink">
							<a href="{{ event.link }}" class="readMore">{{ "se_fodbald_widget_read_more"|t }}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>