<section style="padding-bottom: 30px;padding-top: 30px;background: url(http://images-cdn.watchfooty.co.uk/watchfooty.co.uk-ver2/green-cup.png);" class="">
    <div class="row">
        <div class="container GP_body">
            <div class="col-xs-12">

                {% for nodeData in tags %}

                    <h1 class="black no-transform  text-center"> {{ "Watch" |t }}  {{ nodeData.eventName }} {{ "live" |t }}</h1>
                    {% if nodeData.eventbody != '' and  nodeData.eventbody != null %}
                        <p>{{ nodeData.eventbody | raw}}</p>
                    {% else %}
                        <p class="text-center">
                            {{ "Watch this game live right here" |t }} -
                            <br class="small-tablet-only">
                            {{ "Start streaming now" |t }} !
                        </p>
                    {% endif %}


                {% endfor %}

            </div>
        </div>
    </div>
</section>