<section class="MatchHeadPlugin ContentHeader Block">
	<div class="container">
		<div class="row">
			<div class="col col-md-8 col-sm-8 col-xs-12 Event EventColumn Arrow">
				{% if tags %}
					{% set event = tags|first %}
					<div class="EventBlock">
						<div class="EventTeams">
							{% if event.teams.left %}
								<div class="TeamHolder">
									{% if event.teams.left.image %}
										<div class="TeamLogo">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ file_url(event.teams.left.image) }}">
										</div>
									{% endif %}
									<span class="TeamName">{{ event.teams.left.name }}</span>
								</div>
							{% endif %}
							<div class="Vs">{{ "se_fodbald_team_vs"|t }}</div>
							{% if event.teams.right %}
								<div class="TeamHolder">
									{% if event.teams.right.image %}
										<div class="TeamLogo">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ file_url(event.teams.right.image) }}">
										</div>
									{% endif %}
									<span class="TeamName">{{ event.teams.right.name }}</span>
								</div>
							{% endif %}
						</div>
						<div class="EventDate">{{ event.date|date("j. F Y \\k\\l H:i") }}</div>
					</div>
					<div class="arrow">
						<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_se_fodbald/src/images/arrow-2.png">
					</div>
				{% endif %}
			</div>
			<div class="col col-md-4 col-sm-4 col-xs-12 Showcase Match">
				<div class="sponsorLabel">{{ "se_fodbald_showcase_annonce"|t }}</div>
				<div class="showcaseHeading">
					<h4>{{ "se_fodbald_showcase_head"|t }}</h4>
					<p>{{ "se_fodbald_showcase_subhead"|t }}</p>
				</div>
				<div class="showcaseSteps">
					<ol class="steps"> 
						<li>{{ "se_fodbald_showcase_step_1"|t }}</li>
		            	<li>{{ "se_fodbald_showcase_step_2"|t }}</li>
		            	<li>{{ "se_fodbald_showcase_step_3"|t }}</li>
					</ol>
				</div>
		        <a href="#" class="btn right-arrow">{{ "se_fodbald_showcase_button"|t }}</a>
		        <p class="disclaimer">{{ "se_fodbald_showcase_disclaimer"|t }}</p>
		        <div class="warning">
		        	<span><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ "se_fodbald_showcase_warning"|t }}</span>
		        </div>
		        <a href="#popup3" class="popUp">{{ "se_fodbald_showcase_popup"|t }}</a>
			</div>
		</div>
	</div>
</section>