<section class="ProgramHeadPlugin ContentHeader Block">
	<div class="container">
		<div class="row">
			<div class="col col-md-8 col-sm-8 col-xs-12 ProgramTitle">
				<h1>{{ "se_fodbald_program_title"|t }}</h1>
			</div>
			<div class="col col-md-4 col-sm-4 col-xs-12 Showcase">
				<div class="sponsorLabel">{{ "se_fodbald_showcase_annonce"|t }}</div>
				<div class="showcaseHeading">
					<h4>{{ "se_fodbald_showcase_head"|t }}</h4>
					<p>{{ "se_fodbald_showcase_subhead"|t }}</p>
				</div>
				<div class="showcaseSteps">
					<ol class="steps"> 
						<li>{{ "se_fodbald_showcase_step_1"|t }}</li>
		            	<li>{{ "se_fodbald_showcase_step_2"|t }}</li>
		            	<li>{{ "se_fodbald_showcase_step_3"|t }}</li>
					</ol>
				</div>
		        <a href="{{ "se_fodbald_showcase_button_link"|t }}" class="btn right-arrow">{{ "se_fodbald_showcase_button"|t }}</a>
		        <p class="disclaimer">{{ "se_fodbald_showcase_disclaimer"|t }}</p>
		        <a href="#popup3" class="popUp">{{ "se_fodbald_showcase_popup"|t }}</a>
			</div>
		</div>
	</div>
</section>