<section class="MatchContentPlugin">
	<div class="container">
		<div class="row">
			<div class="col col-md-12 col-sm-12 col-xs-12 EventContent">
	            <h1>{{ "fodbald_streams_event_head"|t }}</h1>
				<div class="sponsoredLogo">
					<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_live_fodbald_streams/src/images/img1.png" width="95" hspace="30" height="30" vspace="16">
					<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_live_fodbald_streams/src/images/img2.png" width="95" height="30">
				</div>
	            <p>{{ "fodbald_streams_event_text_1"|t }}</p>
	            <p>{{ "fodbald_streams_event_text_2"|t }}</p>
	            <p>{{ "fodbald_streams_event_text_3"|t }}</p>
	            <h2>{{ "fodbald_streams_event_subhead"|t }}</h2>
	            <p>{{ "fodbald_streams_event_text_4"|t }}</p>
	            <p>{{ "fodbald_streams_event_text_5"|t }}</p>			
			</div>
			<div class="col col-md-12 col-sm-12 col-xs-12 ProviderBlock">
				<h1>{{ "fodbald_streams_providers_block_head"|t }}</h1>
				<div class="row ProviderSteps">
					<ul>
						<li class="ProviderStep">
							<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_live_fodbald_streams/src/images/leptop-www.png">
							<span>{{ "fodbald_streams_providers_block_step_1"|t }}</span>
						</li>
						<li class="ProviderStep">
							<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_live_fodbald_streams/src/images/leptop-pen.png">
							<span>{{ "fodbald_streams_providers_block_step_2"|t }}</span>
						</li>
						<li class="ProviderStep">
							<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_live_fodbald_streams/src/images/leptop-play.png">
							<span>{{ "fodbald_streams_providers_block_step_3"|t }}</span>
						</li>
					</ul>
					<p>{{ "fodbald_streams_providers_block_text_1"|t }}</p>
				</div>
				<h4>{{ "fodbald_streams_providers_block_text_2"|t }}</h4>
				<a href="#" class="btn arrow">{{ "fodbald_streams_providers_block_button"|t }}</a>
				<a href="#popup1" class="popup">{{ "fodbald_streams_providers_block_popup"|t }}</a>
				<p class="disclaimer">{{ "fodbald_streams_providers_block_disclaimer"|t }}</p>
			</div>
		</div>
	</div>
</section>	