<section class="o-sport-calendar">
    <div class="container text-center">
        <div class="col-xs-12">
            <h1>{{ "sport_livestream_schedule_head" | t }} </h1>
            <h2>{{ "sport_livestream_schedule_sudhead" | t }} </h2>
        </div>
        <div class="col-xs-12 text-left">
            <table class="table table-hover">
                <thead>
                <tr class="success">
                    <th>{{ "sport_livestream_schedule_table_tid" | t}}</th>
                    <th>{{ "sport_livestream_schedule_table_kamp"| t}}</th>
                    <th>{{ "sport_livestream_schedule_table_liga"| t}}</th>
                    <th>{{ "sport_livestream_schedule_table_kanal"| t}}</th>
                </tr>
                </thead>
                <tbody>

                {% for AllEvents in tags %}
                    {% for eventDate in AllEvents %}
                        <tr class="active_plus">
                            <td colspan="4">{{ eventDate.date |date("D d. M") }}</td>
                        </tr>
                        {% if loop.index < 2 %}
                            {% for tournament in eventDate.alltournament %}
                                {% for events in tournament %}
                                    {% for event in events %}
                                        {% if loop.index < 2 %}
                                            <tr class="active">
                                                <td scope="row">{{ event.eventDate | date("H:i ") }}</td>
                                                <td> {{ event.title }}</td>
                                                <td>{{ tournament.tournament }}</td>
                                                <td class="img_row">
                                                    {% for eventStreams in event.eventStreams %}
                                                        <a id="reDir" class="null reDir">
                                                            <img class="imgLiveStreamProviderList"
                                                                 alt="{{ eventStreams.streamName }} "
                                                                 src="{{ file_url(eventStreams.streamIMG) }}">
                                                        </a>
                                                    {% endfor %}
                                                    <i class="mobile-only icon-plus half-gap-top"></i>
                                                    <i class="icon-caret-right pull-right half-gap-top"></i>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr class="active hidden">
                                                <td scope="row">{{ event.eventDate | date("H:i ") }}</td>
                                                <td> {{ event.title }}</td>
                                                <td>{{ tournament.tournament }}</td>
                                                <td class="img_row">
                                                    {% for eventStreams in event.eventStreams %}
                                                        <a id="reDir" class="null reDir">
                                                            <img class="imgLiveStreamProviderList"
                                                                 alt="{{ eventStreams.streamIMGAlt }} "
                                                                 src="{{ file_url(eventStreams.streamIMG) }}">
                                                        </a>
                                                    {% endfor %}
                                                    <i class="mobile-only icon-plus half-gap-top"></i>
                                                    <i class="icon-caret-right pull-right half-gap-top"></i>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            {% for tournament in eventDate.alltournament %}
                                {% for events in tournament %}
                                    {% for event in events %}
                                        <tr class="active hidden">
                                            <td scope="row">{{ event.eventDate | date("H:i ") }}</td>
                                            <td> {{ event.title }}</td>
                                            <td>{{ tournament.tournament }}</td>
                                            <td class="img_row">
                                                {% for eventStreams in event.eventStreams %}
                                                    <a id="reDir" class="null reDir">
                                                        <img class="imgLiveStreamProviderList"
                                                             alt="{{ eventStreams.streamName }} "
                                                             src="{{ file_url(eventStreams.streamIMG) }}">
                                                    </a>
                                                {% endfor %}
                                                <i class="mobile-only icon-plus half-gap-top"></i>
                                                <i class="icon-caret-right pull-right half-gap-top"></i>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <tr class="tr_btn">
                    <td colspan="4">
                        <a class="btn btn-danger-custom btn-table-gren"> {{ "sport_livestream_schedule_table_button" |t }}</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>
