<section class="ProgramMatchListPlugin">
	<div class="container">
		<div class="row">
			<div class="col col-md-12 SchedulePage">
				{% for day in tags.schedule %}
					<h3 class="DayTitle">{{ day.format }}</h3>
					<div class="panel-group">
						{% for league in day.leagues %}
							<div class="panel panel-default ScheduleList">
								<div class="panel-heading">
									<h4 class="panel-title">
										{% if league.image %}
											<img src="{{ file_url(league.image) }}">
										{% endif %}
										{{ league.name }}
									</h4>
								</div>
								<div class="panel-body">
									<ul class="Events">
										{% for match in league.events %}
											<li>
												<a href="{{ match.link }}">
													<span class="date">{{ match.date|date('H:i') }}</span>
													{% if match.teams %}
														{% for team in match.teams %}
															<span class="team">
																{{ team.name }}
																{% if team.image %}
																	<img src="{{ file_url(team.image) }}">
																{% endif %}
															</span>
														{% endfor %}
													{% endif %}
													{% if match.preview %}
														<span class="preview">{{ "fodbodld_streams_schedule_preview"|t }}</span>
 													{% endif %}
												</a>
											</li>						
										{% endfor %}
									</ul>
								</div>				
							</div>
						{% endfor %}
					</div>
				{% endfor %}
				<div class="ProgramControls">
					{% if tags.controls.next %}
						<span class="next"><a href="{{ tags.controls.next }}">{{ "fodbald_streams_program_next" | t}}</a></span>
					{% endif%}
					{% if tags.controls.prev %}
						<span class="prev"><a href="{{ tags.controls.prev }}">{{ "fodbald_streams_program_prev" | t}}</a></span>
					{% endif%}
				</div>			
			</div>	
		</div>
	</div>
</section>