<footer class="SiteFooter">
	<div class="container">
		<div class="row">
			<div class="col col-md-8">
				<ul>
					<li>{{ "live_fodbald_footer_rights" | t}}</li>
					<li><a>{{ "live_fodbald_footer_18plus" | t}}</a></li>
					<li><a href="#popup-test" class="popUp">{{ "live_fodbald_footer_politics" | t}}</a></li>
					<li><a href="about.html">{{ "live_fodbald_footer_about" | t}}</a></li>
					<li><a href="faq.html">{{ "live_fodbald_footer_faq" | t}}</a></li>
					<li><a href="sitemap.html">{{ "live_fodbald_footer_sitemap" | t}}</a></li>
				</ul>
			</div>
			<div class="col col-md-4">
				<p>{{ "live_fodbald_footer_developed_by" | t}}<a>Rebelpenguin.dk</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-12">
				<ul>
					<li><a>{{ "live_fodbald_footer_gambling" | t}}</a></li>
					<li><a href="#popup-test" class="popUp"><span><b>{{ "live_fodbald_footer_18plus" | t}}</b> <img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_live_fodbald/src/images/18+.jpg"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>