<section class="PopUpPlugin">
	<div class="popUpContainer" id="popup1">
		<div class="popUpInner">
			<h4>{{ "se_fodbald_popup_1_head"|t }}</h4>
			{{ "se_fodbald_popup_1_text"|t }}
		</div>
	</div>
	<div class="popUpContainer plus18popup" id="popup18">
		<div class="popUpInner">
			{{ "se_fodbald_popup_2_text_1"|t }}
			{{ "se_fodbald_popup_2_text_2"|t }}
        </div>
	</div>
	<div class="popUpContainer" id="popup3">
		<div class="popUpInner">
			{{ "se_fodbald_popup_3_text"|t }}
		</div>
	</div>
</section>