<section class="SiteFooterMenu Block Gray">
	<div class="container">
		<div class="row">
			<div class="col col-md-4 col-sm-4 col-xs-12 footerMenu">
				<h5>{{ "se_fodbald_footer_menu_help"|t }}</h5>
				<ul>
					<li><a href="#">{{ "se_fodbald_footer_menu_faq"|t }}</a></li>
					<li><a href="#">{{ "se_fodbald_footer_menu_contact"|t }}</a></li>
					<li><a href="#">{{ "se_fodbald_footer_menu_about"|t }}</a></li>
				</ul>
			</div>
			<div class="col col-md-4 col-sm-4 col-xs-12 footerMenu">
				<h5>{{ "se_fodbald_footer_menu_follow"|t }}</h5>
				<ul>
					<li><a href="#">{{ "se_fodbald_footer_menu_twitter"|t }}</a></li>
					<li><a href="#">{{ "se_fodbald_footer_menu_google"|t }}</a></li>
				</ul>
			</div>
			<div class="col col-md-4 col-sm-4 col-xs-12 footerMenu">
				<h5>{{ "se_fodbald_footer_menu_sefodbald"|t }}</h5>
				<ul>
					<li><a href="#">{{ "se_fodbald_footer_menu_policy"|t }}</a></li>
					<li><a href="#popup1" class="popUp">{{ "se_fodbald_footer_menu_age_policy"|t }}</a></li>
					<li><a href="#">{{ "se_fodbald_footer_menu_authority"|t }} <i class="fa fa-lock" aria-hidden="true"></i></a></li>
					<li>
						<a href="#popup18" class="popUp">
							<strong>{{ "se_fodbald_footer_menu_age_policy"|t }}</strong>
							<img class="plus18" src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_se_fodbald/src/images/18+.jpg">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>