<section class="HomeTabsPlugin">
	<div class="container">
		<div class="row">
			<div class="col col-md-12">
				<h2>{{ "live_fodbald_home_tabs_title" | t }}</h2>
			</div>
		</div>
		{% if tags %}
			{% set aTab = null %}
			<div class="row Tabs">
				<div class="col col-md-4">
					{% if tags.sport %}
					<div class="panel panel-default TabsMenu List">
						<div class="panel-heading">
							<h3 class="panel-title">{{ "live_fodbald_tabs_league_title" | t }}</h3>
						</div>
						<div class="panel-body">
							<ul class="nav nav-tabs" role="tablist">
								{% for key, league in tags.sport %}
									{% set TabID = 'T' ~ key %}
									
									{% if aTab is null %}
										{% set aTab = TabID %}
									{% endif %}
									
									<li role="presentation" {{ TabID == aTab ? 'class="active"'}}>
										<a href="#{{ TabID }}" aria-controls="{{ TabID }}" {{ TabID == aTab ? 'aria-expanded="true"'}} role="tab" data-toggle="tab">
											<span class="name">{{ league.name }}</span>
										</a>
									</li>
								{% endfor %}							
							</ul>
						</div>
					</div>
					{% endif %}
					
					{% if tags.participant %}
						<div class="panel panel-default TabsMenu List">
							<div class="panel-heading">
								<h3 class="panel-title">{{ "live_fodbald_tabs_team_title" | t }}</h3>
							</div>
							<div class="panel-body">
								<ul class="nav nav-tabs" role="tablist">
									{% for key, team in tags.participant %}
										{% set TabID = 'T' ~ key %}
										
										{% if aTab is null %}
											{% set aTab = TabID %}
										{% endif %}
										
										<li role="presentation" {{ TabID == aTab ? 'class="active"'}}>
											<a href="#{{ TabID }}" aria-controls="{{ TabID }}" {{ TabID == aTab ? 'aria-expanded="true"'}} role="tab" data-toggle="tab">
												<span class="name">{{ team.name }}</span>
											</a>
										</li>
									{% endfor %}		
								</ul>
							</div>
						</div>
					{% endif %}
				</div>
				<div class="col col-md-8">
					<div class="tab-content TabsContent">
						{% for type in tags %}
							{% for key, element in type %}
								{% set TabID = 'T' ~ key %}
								<div role="tabpanel" class="tab-pane {{ TabID == aTab ? "active"}}" id="{{ TabID }}">
									<h3>{{ element.name }}</h3>
									{% if element.frontTitle %}
										<p><b>{{ element.frontTitle[0].value }}</b></p>
									{% endif %}
									
									{% if element.frontContent %}
										{{ element.frontContent[0].value|raw }}
									{% endif %}
									
									<a href="{{ element.link }}">{{ "live_fodbald_home_tabs_read_more" | t}}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
									{% if element.sponsorLink %}
										<p><a href="{{ element.sponsorLink[0].value }}" class="btn arrow">{{ "live_fodbald_home_tabs_button" | t}}</a></p>
									{% endif %}
									<div class="sponsoredLogo">
										<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_live_fodbald/src/images/img1.png">
										<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_live_fodbald/src/images/img2.png">
									</div>
									<span>
										<b>{{ "live_fodbald_home_tabs_popup" | t}}</b>
										<br>
										<i>{{ "live_fodbald_home_tabs_disclaimer" | t }}</i>
									</span>
								</div>
							{% endfor %}
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</section>	