{% set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
] %}
<section class="container general_articles">
    <article{{ attributes.addClass(classes) }}>
        <header>
            {{ title_prefix }}
               <h1{{ title_attributes.addClass('node__title') }}>{{ label }}</h1>
            {{ title_suffix }}

            {% if display_submitted %}
                <div class="node__meta">
                   {{ author_picture }}
                      <span> {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}</span>
                    {{ metadata }}
                </div>
            {% endif %}
        </header>
        <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
            {{ content }}
        </div>
    </article>
</section>


