
<section>
    {{ render_block('sportpagetop') }}
</section>



<section>
    {{ render_block('sportpagepopularmatch') }}
</section>



<section>
    {{ render_block('sportpageschedule') }}
</section>



<section>
    {{ render_block('sportpagestreamlist') }}
</section>



<section>
    {{ render_block('sportpagefooter') }}
</section>



