<section class="TeamFeaturesPlugin ParalaxBlock">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>{{ "live_fodbald_team_description"|t}} {{ tags.name }}</h2>
			</div>
		</div>
		<div class="row animation">
			<div class="col col-md-12 wp2">
				{% if tags.image %}
					<div class="icon nobg">
						<img src="{{ file_url(tags.image) }}">
					</div>
				{% endif %}
				<h3>{{ tags.name }}</h3>
				{{ tags.body |raw}}
			</div>
		</div>
	</div>
</section>	