<section class="o-frontpage-hero_footbal sport_home_slider">
    <div class="row">
        {% if is_front == false %}
            <nav class='o-header__secondary'>
                <ul>
                    {{ tags[3].output | raw }}
                </ul>
            </nav>
        {% endif %}
    </div>
    {% for nodeData in tags[1] %}
    <div class="row">
        <div class="container GP_head">
            <div class="col-md-8 text-center">
                {% for eventParticipants in nodeData.events.Participants %}
                    {% if nodeData.events.Participants|length > loop.index %}
                        <div class="col-xs-12">
                            <h3 class='o-sportpage-hero__title'>{{ eventParticipants.participantName }}
                                <br>
                                <small class="" style="color: #699908!important;">{{ "vs" |t }}</small>
                            </h3>
                        </div>
                    {% else %}
                        <div class="col-xs-12"><h3
                                    class='o-sportpage-hero__title'>{{ eventParticipants.participantName }}</h3></div>
                    {% endif %}
                {% endfor %}
                <div class="col-md-12">
                    <p class='o-sportpage-hero__title'
                       style="color: #699908!important;"> {% for tag in tags[0] %}{{ tag|striptags }} {{ "Live Stream" |t }}{% endfor %}</p>
                </div>
            </div>
            <div class="col-md-4 sport_home">
                <div class="three-step-div pad-bottom hide-on-mobile">
                    <div class="col-md-12 text-center">
                        <h2 class="no-padding head green">
                            {% if nodeData.events.Streamers.0.ProviderPageDetailHeading != '' and  nodeData.events.Streamers.0.ProviderPageDetailHeading != null %}
                                {{ nodeData.events.Streamers.0.ProviderPageDetailHeading }}
                            {% else %}
                                {{ "Watch football live stream" |t }}
                            {% endif %}
                        </h2>
                        {% for eventParticipants in nodeData.events.Participants %}
                            <div class="col-md-6 text-center">
                                <div>{{ eventParticipants.participantName }}</div>
                                <img class="gap-top" width="70" height="auto"
                                     src="{{ file_url(eventParticipants.participantIdLogo) }}"
                                     alt="{{ eventParticipants.participantName }}">
                            </div>
                        {% endfor %}
                    </div>
                    <div style="border-bottom: 1px solid #353535;padding: 10px 0" class="col-md-12 text-center">
                        <span class="icon-calendar half-gap-right"> </span>{{ nodeData.events.0.eventDate   | date("d.M Y") }}
                        <span class="icon-time gap-left half-gap-right"></span>{{ " at " |t }}{{ nodeData.events.0.eventDate | date("H : i") }}
                    </div>
                    <div style="border-bottom: 1px solid #353535;padding: 10px 0" class="col-md-12 text-left">
                        <ol class="fs16 unstyled banner-list">
                            <li class=""><img alt="ico-1-40-D"
                                              src="http://images-cdn.watchfooty.co.uk/watchfooty.co.uk-ver2/ico-1-40-D.png"/>
                                {% if nodeData.events.Streamers.0.ProviderPageDetailContentIcon1Heading != '' and  nodeData.events.Streamers.0.ProviderPageDetailContentIcon1Heading != null %}
                                    {{ nodeData.events.Streamers.0.ProviderPageDetailContentIcon1Heading }}
                                {% else %}
                                    {{ "Go to" |t }} {{ nodeData.events.Streamers.0.streamName }}
                                {% endif %}
                            </li>
                            <li class=""><img alt="ico-2-40-D"
                                              src="http://images-cdn.watchfooty.co.uk/watchfooty.co.uk-ver2/ico-2-40-D.png"/>
                                {% if nodeData.events.Streamers.0.ProviderPageDetailContentIcon2Heading != '' and  nodeData.events.Streamers.0.ProviderPageDetailContentIcon2Heading != null %}
                                    {{ nodeData.events.Streamers.0.ProviderPageDetailContentIcon2Heading }}
                                {% else %}
                                    {{ "Pay for access" |t }}
                                {% endif %}
                            </li>
                            <li class=""><img alt="ico-3-40-D"
                                              src="http://images-cdn.watchfooty.co.uk/watchfooty.co.uk-ver2/ico-3-40-d.png"/>
                                {% if nodeData.events.Streamers.0.ProviderPageDetailContentIcon3Heading != '' and  nodeData.events.Streamers.0.ProviderPageDetailContentIcon3Heading != null %}
                                    {{ nodeData.events.Streamers.0.ProviderPageDetailContentIcon3Heading }}
                                {% else %}
                                    {{ "Watch live" |t }}
                                {% endif %}
                            </li>
                        </ol>
                    </div>
                    <div style="padding: 10px 0" class="col-md-12 text-center">
                        <p>
                            <a role="button" class="btn btn-lg green" href="{{ nodeData.events.Streamers.0.FrontPageAffiliateButtonUrl }}">
                                <i class="fa fa-arrow-circle-right"></i>
                                {% if nodeData.events.Streamers.0.FrontPageAffiliateButtonText != '' and  nodeData.events.Streamers.0.FrontPageAffiliateButtonText != null %}
                                    {{ nodeData.events.Streamers.0.FrontPageAffiliateButtonText }}
                                {% else %}
                                    {{ "Watch live at " |t }} {{ nodeData.events.Streamers.0.streamName }}
                                {% endif %}
                            </a>
                            <br>
                            <span>
                        {% if nodeData.events.Streamers.0.ProviderPageDetailContentNote != '' and  nodeData.events.Streamers.0.ProviderPageDetailContentNote != null %}
                            {{ nodeData.events.Streamers.0.ProviderPageDetailContentNote }}
                        {% endif %}
                        </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section
        style="padding-bottom: 30px;padding-top: 30px;background: url(http://images-cdn.watchfooty.co.uk/watchfooty.co.uk-ver2/green-cup.png);"
        class="">
    <div class="row">
        <div class="container GP_body">
            <div class="col-xs-12 text-center">
                <h1 class="black no-transform"> {{ "Watch" |t }}  {{ nodeData.events.0.eventName }} {{ "live" |t }}</h1>
                {% if nodeData.events.0.eventbody != '' and  nodeData.events.0.eventbody != null %}
                    {{ nodeData.events.0.eventbody }}
                {% else %}
                    <p>
                        {{ "Watch this game live right here" |t }} -
                    <br class="small-tablet-only">
                        {{ "Start streaming now" |t }} !
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section style=" padding-bottom: 30px;padding-top: 30px;background: #223a00 url(http://images-cdn.watchfooty.co.uk/watchfooty.co.uk-ver2/ground-image-football.jpg) center top no-repeat;background-size: 100%;width: 100%;"
        class="">
    <div class="row">
        <div class="container GP_stream">
            {% for eventStream in nodeData.events.Streamers %}

                <div class="col-lg-12">
                    <div class="panel panel-default panel-primary_ border-panel">
                        <div class="col-lg-12 border-panel-title">
                            <div class="col-lg-6 img_name_stream">
                                <img class="img-circle" width="25px" height="25px"
                                     src=" {{ file_url(eventStream.streamIMG) }}">
                                <b class="streamPanelTitle"> {{ eventStream.streamName }} </b>
                                <span class="rating" data-rating="{{ eventStream.streamRating }}">
                                        {% for i in 1.. eventStream.streamRating %}
                                            <em class="fa fa-star"></em>
                                        {% endfor %}
                                    {% for i in 1.. (5 - eventStream.streamRating) %}
                                        {% if (5 - eventStream.streamRating) > 0 %}
                                            <em class="fa fa-star-o"></em>
                                        {% endif %}
                                    {% endfor %}
                                        </span>
                            </div>
                            <div class="col-lg-2 text-center"><b>Kvalitet :</b> {{ eventStream.streamVideoQuality }}
                            </div>
                            <div class="col-lg-2 text-center"><b>Afspiller : </b> {{ eventStream.streamVideoSize }}
                            </div>
                            <div class="col-lg-2 text-center"><b>Pris : </b>{{ eventStream.streamPrice }} </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <h3 class="streamPanelTitle">
                                    {% if eventStream.ProviderPageDetailHeading != '' and  eventStream.ProviderPageDetailHeading != null %}
                                        {{ eventStream.ProviderPageDetailHeading }}
                                    {% else %}
                                        {{ "Sådan ser du live stream fodbold med " |t }} {{ eventStream.streamName }}
                                    {% endif %}
                                </h3>
                            </div>
                            <div class="col-lg-12">

                                <div class="col-lg-3 text-center">
                                    <div class="col-lg-12">
                                        {% if eventStream.ProviderPageDetailContentIcon1Heading != '' and  eventStream.ProviderPageDetailContentIcon1Heading != null %}
                                            {{ eventStream.ProviderPageDetailContentIcon1Heading }}
                                        {% else %}
                                            {{ "1. Go to ITV " |t }}
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12">
                                        <img class="top-article-image img-thumbnail"
                                             src="{{ file_url(eventStream.streamIMG) }}"/>
                                    </div>
                                    <div class="col-lg-12">
                                        {% if eventStream.ProviderPageDetailContentIcon1Subheading != '' and  eventStream.ProviderPageDetailContentIcon1Subheading != null %}
                                            {{ eventStream.ProviderPageDetailContentIcon1Subheading }}
                                        {% else %}
                                            {{ "Click here and visit " |t }}{{ eventStream.streamName }}
                                        {% endif %}
                                    </div>
                                </div>


                                <div class="col-lg-3 text-center">
                                    <div class="col-lg-12">
                                        {% if eventStream.ProviderPageDetailContentIcon2Heading != '' and  eventStream.ProviderPageDetailContentIcon2Heading != null %}
                                            {{ eventStream.ProviderPageDetailContentIcon2Heading }}
                                        {% else %}
                                            {{ "2. Select football " |t }}
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12">
                                        <img class="top-article-image img-thumbnail"
                                             src="http://images-cdn.watchfooty.co.uk/watchfooty.co.uk-ver2/ico-green-2.png"/>
                                    </div>
                                    <div class="col-lg-12">
                                        {% if eventStream.ProviderPageDetailContentIcon2Subheading != '' and  eventStream.ProviderPageDetailContentIcon2Subheading != null %}
                                            {{ eventStream.ProviderPageDetailContentIcon2Subheading }}
                                        {% else %}
                                            {{ "Choose " |t }}
                                        {% endif %}
                                    </div>
                                </div>


                                <div class="col-lg-3 text-center">
                                    <div class="col-lg-12">
                                        {% if eventStream.ProviderPageDetailContentIcon3Heading != '' and  eventStream.ProviderPageDetailContentIcon3Heading != null %}
                                            {{ eventStream.ProviderPageDetailContentIcon3Heading }}
                                        {% else %}
                                            {{ "3. Watch Live " |t }}
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12">
                                        <img class="top-article-image img-thumbnail"
                                             src="http://images-cdn.watchfooty.co.uk/watchfooty.co.uk-ver2/ico-green-3.png"/>
                                    </div>
                                    <div class="col-lg-12">
                                        {% if eventStream.ProviderPageDetailContentIcon3Subheading != '' and  eventStream.ProviderPageDetailContentIcon3Subheading != null %}
                                            {{ eventStream.ProviderPageDetailContentIcon3Subheading }}
                                        {% else %}
                                            {{ "Click on your desired game and start watching  " |t }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-lg-3 text-center">
                                    <a role="button" href=" {{ eventStream.ProviderPageDetailButtonAffiliateLink }}"
                                       class="btn btn-danger btn-lg">

                                        {% if eventStream.ProviderPageDetailButtonHeading != '' and  eventStream.ProviderPageDetailButtonHeading != null %}
                                            {{ eventStream.ProviderPageDetailButtonHeading }}
                                        {% else %}
                                            {{ "Watch match live " |t }}
                                        {% endif %}
                                        <br>
                                        <span> -
                                            {% if eventStream.ProviderPageDetailButtonSubheading != '' and  eventStream.ProviderPageDetailButtonSubheading != null %}
                                                {{ eventStream.ProviderPageDetailButtonSubheading }}
                                            {% else %}
                                                {{ "with " |t }}{{ eventStream.streamName }}
                                            {% endif %}
                                            </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</section>

{% endfor %}



