{#
/**
 * @file
 * Matches banner template
 *
 * Available variables:
 * - title: The title text.
 * - subtitle: The subtitle text.
 * - background_image: The background image for matches.
 * - matches: The matches array.
 */
#}

<section class="matches-banner" role="banner" style="background-image: url({{ file_url(background_image) }})">
    <div class="container-inner">
        <div class="arrow-down"></div>
        {% if title %}
            <h2 class="title text-center">{{ title }}</h2>
        {% endif %}
        {% if subtitle %}
            <div class="subtitle">
                <p class="text-center">{{ subtitle }}</p>
            </div>
        {% endif %}
        {% if matches is iterable %}
            <div class="matches">
                {% for match in matches %}
                    <div class="match">
                        <div class="inner">
                            <div class="participants">
                                <span class="participant participant-1">
                                    {{ match.participant_1.name }}</span>
                                <span class="participant participant-2">
                                    {{ match.participant_2.name }}</span>
                            </div>
                            <div class="team-badges">
                                <span class="team-badge team-badge-1"><img src="{{ match.participant_1.badge }}" /></span>
                                <span class="versus">&nbsp;vs&nbsp;</span>
                                <span class="team-badge team-badge-2"><img src="{{ file_url(match.participant_2.badge) }}" /></span>
                            </div>
                            <div class="details">
                                <span class="date">{{ match.date }}</span>
                                <div class="summary">{{ match.summary | raw }}</div>
                                <a role="button"
                                   class="{{ match.button.class }}"
                                   href="{{ match.button.url }}">
                                      <i class="glyphicon glyphicon-chevron-right"></i>
                                      <span>{{ match.button.label }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
