{#
/**
 * @file
 * Schedule template
 *
 * Available variables:
 * - title: The title text.
 * - background_image: The background image.
 * - accordion_data: The data to render the accordion.
 */
#}

<section class="schedule" style="background-image: url({{ file_url(background_image) }})">
    <div class="container-inner">
        {% if title %}
            <h2 class="title">{{ title }}</h2>
        {% endif %}
        {% if accordion_data is iterable %}
            <div class="accordion">
                {% for date, data in accordion_data %}
                    <!-- Date level -->
                    <div class="accordion-panel level-1">
                        <!-- Date level header -->
                        <div class="accordion-heading">
                            <a role="button"
                                class="accordion-trigger date-level"
                                data-toggle="collapse"
                                data-target="#accordion{{ date | replace({'-':'',' ':'','.':'','(':'',')':''}) }}">
                                <span>{{ date | date('l d, M') }}</span>
                                <i class="glyphicon glyphicon-collapse-down"></i>
                            </a>
                        </div>
                        <!-- END Date level header -->
                        <!-- Date level body -->
                        {% set dateLevelBodyIsExpanded = loop.first ? 'in' : 'collapsed' %}
                        <div id="accordion{{ date | replace({'-':'',' ':'','.':'','(':'',')':''}) }}"
                            class="accordion-body collapse {{ dateLevelBodyIsExpanded }}">
                            {% for tournament in data %}
                                <!-- Tournament level -->
                                <div class="accordion-panel level-2">
                                    <!-- Tournament level header -->
                                    <div class="accordion-heading">
                                        <a role="button"
                                            class="accordion-trigger tournament-level {{ dateLevelBodyIsExpanded }}"
                                            data-toggle="collapse"
                                            data-target="#accordion{{ tournament.tournament_id }}Events">
                                            <div class="flex-row">
                                                <img class="tournament-logo" src="{{ file_url(tournament.field_game_tournament_logo) }}" />
                                                <span class="tournament-name">{{ tournament.tournament }}</span>
                                                <span class="tournament-events-count">
                                                    {% set field_string = tournament.events.length > 1 ? match_field_i18n_singular : match_field_i18n_plural %}
                                                    ({{ tournament.events | length }}
                                                    {{ field_string }})
                                                </span>
                                            </div>
                                            <i class="glyphicon glyphicon-collapse-down"></i>
                                        </a>
                                    </div>
                                    <!-- END Tournament level header -->
                                    <!-- Tournament level body -->
                                    <div id="accordion{{ tournament.tournament_id }}Events"
                                        class="accordion-body collapse">
                                        {% for event in tournament.events %}
                                            <!-- Events level -->
                                            <div class="accordion-panel level-3">
                                                <div class="accordion-heading">
                                                    <a role="button"
                                                        class="accordion-trigger event-level"
                                                        href="{{ event.field_stadium_button[0].value }}">
                                                        <div class="flex-row">
                                                            <i class="fa fa-clock-o"></i>
                                                            <span class="event-time">{{ event.field_game_date[0].value | date('H:i') }}</span>
                                                            <span class="event-participants">{{ event.field_participant_1[0].value }} - {{ event.field_participant_2[0].value }}</span>
                                                        </div>
                                                        <span class="sport-button">
                                                            <!-- <span>{{ event.field_stadium_heading[0].value }}</span> -->
                                                            <span>{{ event_level_button_text }}</span>
                                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- END Events level -->
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- END Tournament level body -->
                            <!-- END Tournament level -->
                            {% endfor %}
                        </div>
                        <!-- END Date level body -->
                    </div>
                    <!-- END Date level -->
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
