{#
/**
 * @file
 * Matches banner template
 *
 * Available variables:
 * - title: The title text.
 * - subtitle: The subtitle text.
 * - background_image: The background image for matches.
 * - matches: The matches array.
 */
#}

<section class="stream-providers">
    <div class="container-inner">
        <div class="arrow-down"></div>
        {% if title %}
            <h2 class="title text-center hidden-xs">{{ title }}</h2>
            <h2 class="title text-center mobile visible-xs-block">{{ title }}</h2>
        {% endif %}
        {% if providers is iterable %}
            <div class="providers-tabs hidden-xs">
                <div class="tab-links">
                    <header class="providers-tabs-header">
                        {% for header in tabs_header %}
                            <span>{{ header }}</span>
                        {% endfor %}
                    </header>
                    <ul class="nav nav-tabs" role="tablist">
                        {% for provider in providers %}
                            {% set tab_class = loop.first ? 'active' %}
                            <li role="presentation" class="{{ tab_class }}">
                                <a href="#{{ provider.id }}"
                                    class="tab-button"
                                    aria-controls="{{ provider.id }}"
                                    role="tab"
                                    data-toggle="tab">
                                    <span class="logo text-center">
                                        <img class="logo" src="{{ file_url(provider.logo) }}" />
                                    </span>
                                    <span class="price text-center">
                                        {{ provider.price }}
                                    </span>
                                    <span class="rating text-center">
                                        {% for rate in provider.rating %}
                                            <i class="fa fa-{{ rate }}"></i>
                                        {% endfor %}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-content">
                    {% for provider in providers %}
                        {% set tab_class = loop.first ? 'active' %}
                        <div role="tabpanel" class="tab-pane {{ tab_class }}" id="{{ provider.id }}">
                            <header>
                                <img class="logo" src="{{ file_url(provider.logo) }}" />
                                <h3>{{ provider.details.header }}</h3>
                            </header>
                            {% for k, section in provider.details.sections %}
                                <div class="details-section {{ k }}">
                                    <h4>{{ section.header }}</h4>
                                    {% if section.content is iterable %}
                                        <div class="detail-section-items">
                                        {% for ke, item in section.content %}
                                            <div class="detail-section-item">
                                                <span class="title text-center">{{ item.title }}</span>
                                                <img src="{{ file_url(item.icon) }}" />
                                                <span class="subtitle text-center">{{ item.subtitle }}</span>
                                                {% if item.notice %}
                                                    <small class="notice text-muted">{{ item.notice }}</small>
                                                {% endif %}
                                                {% if item.notice_link %}
                                                    <small data-toggle="modal"
                                                        data-target="#rulesModal"
                                                        class="notice-link text-success">
                                                            {{ item.notice_link.label }}
                                                    </small>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        </div>
                                    {% else %}
                                        <p>{{ section.content }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="buttons">
                            {% for button in provider.details.buttons %}
                                {% set button_class = [button.class ? button.class] %}
                                <a role="button"
                                   class="{{ button.class }}"
                                   href="{{ button.url }}">
                                     <i class="glyphicon glyphicon-chevron-right"></i>
                                     <span>{{ button.label }}</span>
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- MOBILE -->
            <div class="providers-tabs visible-xs-block panel-group"
                role="tablist" id="accordion" aria-multiselectable="true">
                <header class="providers-tabs-header">
                    {% for header in tabs_header %}
                        <span>{{ header }}</span>
                    {% endfor %}
                </header>
                {% for provider in providers %}
                    {% set isExpanded = loop.first ? 'true' : 'false' %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading{{ provider.id }}">
                            <h4 class="panel-title">
                                <a role="button"
                                    class="tab-button"
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#item{{ provider.id }}"
                                    aria-expanded="{{ isExpanded }}"
                                    aria-controls="{{ provider.id }}">
                                    <span class="logo text-center">
                                        <img class="logo" src="{{ file_url(provider.logo) }}" />
                                    </span>
                                    <span class="price text-center">
                                        {{ provider.price }}
                                    </span>
                                    <span class="rating text-center">
                                        {% for rate in provider.rating %}
                                            <i class="fa fa-{{ rate }}"></i>
                                        {% endfor %}
                                    </span>
                                </a>
                            </h4>
                        </div>
                        {% set tab_class = loop.first ? 'collapse in' %}
                        <div id="item{{ provider.id }}"
                            class="panel-collapse {{ tab_class }}"
                            role="tabpanel"
                            aria-labelledby="heading{{ provider.id }}">
                            <div class="panel-body">
                                <div role="tabpanel"
                                    class="panel-collapse {{ tab_class }}"
                                    id="{{ provider.id }}">
                                    <header>
                                        <img class="logo" src="{{ file_url(provider.logo) }}" />
                                        <h3>{{ provider.details.header }}</h3>
                                    </header>
                                    {% for k, section in provider.details.sections %}
                                        <div class="details-section {{ k }}">
                                            <h4>{{ section.header }}</h4>
                                            {% if section.content is iterable %}
                                                <div class="detail-section-items mobile">
                                                {% for ke, item in section.content %}
                                                    <div class="detail-section-item">
                                                        <span class="title text-center">{{ item.title }}</span>
                                                        <img src="{{ file_url(item.icon) }}" />
                                                        <span class="subtitle text-center">{{ item.subtitle }}</span>
                                                        {% if item.notice %}
                                                            <small class="notice text-muted">{{ item.notice }}</small>
                                                        {% endif %}
                                                        {% if item.notice_link %}
                                                            <small data-toggle="modal"
                                                                data-target="#rulesModal"
                                                                class="notice-link text-success">
                                                                    {{ item.notice_link.label }}
                                                            </small>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                                </div>
                                            {% else %}
                                                <p>{{ section.content }}</p>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <div class="buttons mobile">
                                    {% for button in provider.details.buttons %}
                                        {% set button_class = [button.class ? button.class] %}
                                        <a role="button"
                                           class="{{ button.class }}"
                                           href="{{ button.url }}">
                                             <i class="glyphicon glyphicon-chevron-right"></i>
                                             <span>{{ button.label }}</span>
                                        </a>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <!-- Rules Modal -->
    <div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="rulesModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {{ notice_link_content | raw }}
                </div>
            </div>
        </div>
    </div>
    <!-- END Rules Modal -->
</section>
