{#
/**
 * @file
 * @name Game Page Header
 * @type template
 * @description Game page header template
 * @author Armando Soriano <arm4design@gmail.com>
 * @see node--game_pages.html.twig
 *
 * @variables:
 *  - header
 */
#}

<div class="page-header page-header-game-page col-sm-12" role="heading"
    style="background-image: url({{ file_url(header.background_image) }})">
    <div class="container-inner">

        <div class="title hidden-xs">
            <span>{{ header.participant_1.name }}</span>
            <span>{{ header.versus }}</span>
            <span>{{ header.participant_2.name }}</span>

            {% if header.subtitle %}
            <h2 class="subtitle">
                {{ header.subtitle }}
            </h2>
            {% endif %}
        </div>

        <aside class="match-ad">
            <div>
                {% if header.match_ad.promo_box.title %}
                    <h2 class="title">
                        {{ header.match_ad.promo_box.title }}
                    </h2>
                {% endif %}
                {% if header.match_ad.promo_box.subtitle %}
                    <h3 class="subtitle">
                        {{ header.match_ad.promo_box.subtitle }}
                    </h3>
                {% endif %}
                <div class="participants">
                    <div class="participant">
                        <h4>{{ header.participant_1.name }}</h4>
                        <img src="{{ file_url(header.participant_1.image) }}" width="70" height="70" />
                    </div>
                    <span class="versus">{{ header.versus }}</span>
                    <div class="participant">
                        <h4>{{ header.participant_2.name }}</h4>
                        <img src="{{ file_url(header.participant_2.image) }}" width="70" height="70" />
                    </div>
                </div>
                <div class="date">
                    <span>
                        <i class="fa fa-calendar"></i>
                        <span>{{ header.date | date('d. M Y') }}</span>
                    </span>
                    <span>
                        <i class="fa fa-clock-o"></i>
                        <span>{{ header.match_ad.from }}&nbsp;{{ header.date | date('H:i') }}</span>
                    </span>
                </div>
                {% if header.match_ad.promo_box.header %}
                    <h3 class="promo-box-header">
                        {{ header.match_ad.promo_box.subtitle }}
                    </h3>
                {% endif %}
                <ul class="promo-box-list list-unstyled hidden-xs">
                    {% for item in header.match_ad.promo_box.list %}
                    <li>
                        <div>
                            {% if item.icon %}
                                <i class="promo-box-list-icon glyphicon {{ item.icon }}"></i>
                            {% else %}
                                <img class="promo-box-list-icon" src="{{ file_url(item.image) }}" />
                            {% endif %}
                            {% if item.label %}
                                <span class="promo-box-list-label">{{ item.label }}</span>
                            {% endif %}
                        </div>
                        {% if item.sublabel %}
                            <span class="promo-box-list-sublabel">{{ item.sublabel }}</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                <div class="promo-box-time-count text-center">
                    <b>{{ header.match_ad.promo_box.time_to_event }}</b>
                    <span class="countdown" data-value="{{ header.match_ad.date | date('c') }}"></span>
                </div>
                <div class="promo-box-button">
                    <a role="button"
                       class="{{ header.match_ad.promo_box.button.class }}"
                       href="{{ header.match_ad.promo_box.button.url }}">
                         <i class="glyphicon glyphicon-chevron-right"></i>
                         <span>{{ header.match_ad.promo_box.button.label }}</span>
                    </a>
                </div>
            </div>
        </aside>
    </div>
</div>
