{#
/**
 * @file
 * @name Front page banner
 * @type template
 * @description Block that renders a banner with a notice
 * @author Armando Soriano <arm4design@gmail.com>
 */
#}

<div class="front-banner col-sm-12" role="banner">
    <div class="container-inner">
        <p class="notice">{{ notice }}</p>
        <div class="banner">
            <i class="glyphicon {{ banner.icon }}"></i>
            <div class="banner-text">
                <h2>{{ banner.title }}</h2>
                <p>{{ banner.text }}</p>
                <a href="{{ banner.link.url }}">
                    {{ banner.link.label }}
                </a>
            </div>
        </div>
        <div class="sports">
            {% for sport in sports %}
                <a role="button"
                   class="{{ sport.class }}"
                   href="{{ sport.url }}">
                     <i class="glyphicon glyphicon-chevron-right"></i>
                     <span>{{ sport.description }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
