<section class="ProvidersHeadPlugin ContentHeader">
	{% if tags %}
		<ul class="headSlider">
			{% for event in tags %}
				<li>
					<div class="container">
						<div class="row">
							<div class="col col-md-12 vs-block">
								<a href="{{ event.matchLink }}" class="vs-block-inner">
									{% if event.matchTeams.left %}
										<div class="vs-block-team team-left">
											{% if event.matchTeams.left.image %}
												<div class="vs-block-team-image">
													<img src="{{ file_url(event.matchTeams.left.image) }}" alt="{{ event.matchTeams.left.name }}">
												</div>
											{% endif %}
											<span class="vs-block-team-name">{{ event.matchTeams.left.name }}</span>			
										</div>
									{% endif %}
									<div class="vs-block-info">
										<span class="vs-block-vs">{{"live_fodbald_head_vs" | t}}</span>
										<p class="vs-block-date">{{event.matchDate|date("d. M Y") }}</p>
										<p class="vs-block-date">{{event.matchDate|date("H:i") }}</p>
									</div>
									{% if event.matchTeams.right %}
										<div class="vs-block-team team-right">
											{% if event.matchTeams.right.image %}
												<div class="vs-block-team-image">
													<img src="{{ file_url(event.matchTeams.right.image) }}" alt="{{ event.matchTeams.right.name }}">
												</div>
											{% endif %}
											<span class="vs-block-team-name">{{ event.matchTeams.right.name }}</span>
										</div>
									{% endif %}
								</a>
							</div>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</section>