<section class="HomeHeadPlugin ContentHeader">
	<div class="container">
		<div class="row">
			<div class="col col-md-12 match-select">
				<div class="match-select-title">
					<i></i>
					<h2>{{ "fodbald_streams_match_select_head"|t }}<span>{{ "fodbald_streams_match_select_subhead"|t }}</span></h2>
				</div>
				
				{% set fLeague = null %}
				{% set fMatch = null %}
				
				<select id="select-legue">
					{% for day in tags.schedule %}
						{% for key, league in day.leagues %}
							{% set LeagueID = 'L' ~ key %}
							{% if fLeague is null %}
								{% set fLeague = LeagueID %}
							{% endif %}
							
							
							<option value="{{ LeagueID }}" {{ fLeague == LeagueID ? 'selected="selected"'}}>{{ league.name }}</option>
						{% endfor %}
					{% endfor %}
				</select>
				<select id="select-match">
					{% for day in tags.schedule %}
						{% for key, league in day.leagues %}
							{% set LeagueID = 'L' ~ key %}
							{% for match in league.events %}
							
								{% set selected = 0 %}
								{% if LeagueID == fLeague and fMatch is null %}
									{% set fMatch = match.link %}
									{% set selected = 1 %}
								{% endif %}
								<option value="{{ match.link }}" {{ selected ? 'selected="selected"'}} id="{{ LeagueID }}" {{ fLeague != LeagueID ? 'style="display: none;"'}}>{{ match.name }}</option>
							{% endfor %}
						{% endfor %}
					{% endfor %}
				</select>	
				<div class="match-select-button">
					<a href="{{ fMatch }}">
						<span>{{ "fodbald_streams_match_select_button"|t }}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>