<section class="MatchContentPlugin Block">
	<div class="container">
		<div class="col col-md-5 col-sm-5 col-xs-12 MainSidebar">
			{% if schedule %}
				{% set aDay = null %}
				<div class="ScheduleBlock Widget">
					<div class="BlockHeading league">
						<h2>{{ "se_fodbald_block_program_head"|t }}</h2>
					</div>
					<div class="BlockContent">
						<div class="ScheduleHead">
							<div class="ScheduleSelect">					
								<div class="CustomSelect">
									<select class="date-select">
										{% for key, day in schedule %}
											{% if aDay is null %}
												{% set aDay = key %}
											{% endif %}
											<option value="{{key}}" {{ aDay == key ? 'selected' }}>{{ key|date('d F') }}</option>
										{% endfor %}
		                            </select>
									<span>{{ aDay|date('d F') }}</span>
								</div>
							</div>
						</div>
						<div class="ScheduleList">
							{% for key, day in schedule %}
								<div class="DayContainer {{ key == aDay ? 'active' }}" day="{{ key }}">
									{% for league in day.leagues %}
										<div class="LeagueContainer Open">
											<div class="LeagueName">
												{% if league.image %}
													<div class="leagueImage">
														<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ file_url(league.image) }}">
													</div>
												{% endif %}
												<span>{{ league.name }}</span>
											</div>
											<ul class="ScheduleList">
												{% for event in league.events %}
													<li>
														<a href="{{ event.link }}">
															<div class="row">
																<div class="col col-md-2 col-sm-2 col-xs-2 date">
																	<span>{{ event.date|date('H:i') }}</span>
																</div>
																<div class="col col-md-10 col-sm-10 col-xs-10 teams">
																	{% if event.teams.left %}
																		<div class="team team-left">
																			<span>{{ event.teams.left.name }}</span>
																			<div class="imageHolder">
																				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ file_url(event.teams.left.image) }}">
																			</div>
																		</div>
																	{% endif %}
																	{% if event.teams.right %}
																		<div class="team team-right">
																			<span>{{ event.teams.right.name }}</span>
																			<div class="imageHolder">
																				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ file_url(event.teams.right.image) }}">
																			</div>
																		</div>
																	{% endif %}
																</div>
															</div>
														</a>
													</li>
												{% endfor %}
											</ul>
										</div>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
			{% if events %}
				<div class="ArticlesBlock">
					<div class="BlockHeading">
						<h2>{{ "se_fodbold_block_review_head"|t }}</h2>
						<p>{{ "se_fodbold_block_review_subhead"|t }}</p>
					</div>
					<div class="BlockContent">
						<ul class="ArticlesList">
							{% for event in events %}
								<li>
									<a href="{{ event.link}}">
										<i class="fa fa-arrow-right" aria-hidden="true"></i>
										<span>{{ event.date|date('d.F Y:') }}</span>
										{{ event.name }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col col-md-7 col-sm-7 col-xs-12 MainContent">
			{% if tags %}
				{% set event = tags|first %}
				<div class="EventBlock">
					<div class="EventTeams">
						{% if event.teams.left %}
							<div class="TeamHolder">
								{% if event.teams.left.image %}
									<div class="TeamLogo">
										<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ file_url(event.teams.left.image) }}">
									</div>
								{% endif %}
								<span class="TeamName">{{ event.teams.left.name }}</span>
							</div>
						{% endif %}
						<div class="Vs">{{ "se_fodbald_team_vs"|t }}</div>
						{% if event.teams.right %}
							<div class="TeamHolder">
								{% if event.teams.right.image %}
									<div class="TeamLogo">
										<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ file_url(event.teams.right.image) }}">
									</div>
								{% endif %}
								<span class="TeamName">{{ event.teams.right.name }}</span>
							</div>
						{% endif %}
					</div>
					<div class="EventDate">{{ event.date|date("j. F Y") }}</div>
				</div>
				{{ event.description}}
				<div class="BlockHeading">
					<h2>{{ "se_fodbald_block_provider_head"|t }}</h2>
					<p>{{ "se_fodbald_block_provider_subhead"|t }}</p>
				</div>
				{% set aTab = null %}
				{% if event.providers %}
					<div class="ProviderTabs">
						<ul class="nav nav-tabs " role="tablist">
							{% for provider in event.providers %}
								{% set TabID = 'T' ~ provider.id %}
								
								{% if aTab is null %}
									{% set aTab = TabID %}
								{% endif %}
								
								<li role="presentation" {{ aTab == TabID ? 'class="active"' }}><a href="#{{ TabID }}" aria-controls="{{ TabID }}" role="tab" data-toggle="tab">{{ provider.name }}</a></li>
							{% endfor %}
						</ul>
						<div class="tab-content">
							{% for provider in event.providers %}
								{% set TabID = 'T' ~ provider.id %}
								<div role="tabpanel" class="tab-pane clearfix {{ aTab == TabID ? 'active' }}" id="{{ TabID }}">
									<div class="ProviderDescription">
										<span class="name">
											{% if provider.image %}
												<img src="{{ file_url(provider.image) }}">
											{% endif %}
											{{ provider.name }}
										</span>
										<span class="price">{{ "se_fodbald_provider_block_price"|t }}{{ provider.price }}</span>
										<span class="quality">{{ "se_fodbald_provider_block_quality"|t }}{{ provider.quality }}</span>
									</div>
									<div class="row ProviderContent">
										<div class="col col-md-10 col-sm-10 col-xs-12 ProviderSteps">
											<div class="row">
												<div class="col col-md-4 col-sm-4 col-xs-4">
													<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_se_fodbald/src/images/step-1-big.png">
													<strong>{{ "se_fodbald_provider_block_step_2"|t }}</strong>
												</div>
												<div class="col col-md-4 col-sm-4 col-xs-4">
													<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_se_fodbald/src/images/step-2-big.png">
													<strong>{{ "se_fodbald_provider_block_step_2"|t }}</strong>
												</div>
												<div class="col col-md-4 col-sm-4 col-xs-4">
													<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_se_fodbald/src/images/step-3-big.png">
													<strong>{{ "se_fodbald_provider_block_step_2"|t }}</strong>
												</div>
											</div>
										</div>
										<div class="col col-md-2 col-sm-2 col-xs-12 ProviderActions">
											<a href="{{ provider.link }}" class="btn round right-arrow">
												{{ "se_fodbald_provider_block_button"|t }}
												<span>{{ provider.name }}</span>
											</a>
											
											<div class="warning">
												<span><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ "se_fodbald_provider_block_warning"|t }}</span>
											</div>
											
											<a href="#popup3" class="popUp">{{ "se_fodbald_provider_block_popup"|t }}</a>
											
											<p class="disclaimer">{{ "se_fodbald_provider_block_disclaimer"|t }}</p>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
</section>