<section class="ProvidersContentPlugin Block">
	<div class="container">
		<div class="row ProviderIntro">
			<div class="col col-md-8 col-sm-8 col-xs-12">
				{{ "se_fodbald_providers_text_head_1"|t }}
				{{ "se_fodbald_providers_text_1"|t }}
			</div>
			{% if events %}
			<div class="col col-md-4 col-sm-4 col-xs-12">
				<div class="MatchSliderBlock">
					<h3>{{ "se_fodbald_match_slider_title"|t }}</h3>
					<ul class="bxslider">
						{% for event in events %}
							<li>
								<h4>{{ event.name }}</h4>
								<span>{{ event.date|date('d m. Y \\k\\l. H:i') }}</span>
								<div class="EventBlock">
									<div class="EventTeams">
										{% if event.teams.left %}
											<div class="TeamHolder">
												{% if event.teams.left.image %}
													<div class="TeamLogo">
														<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ file_url(event.teams.left.image) }}">
													</div>
												{% endif %}
											</div>
										{% endif %}
										{% if event.teams.right %}
											<div class="TeamHolder">
												{% if event.teams.right.image %}
													<div class="TeamLogo">
														<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ file_url(event.teams.right.image) }}">
													</div>
												{% endif %}
											</div>
										{% endif %}
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
		</div>
		{% if tags %}
			<div class="row ProvidersList">
				{% for provider in tags %}
					<div class="col col-md-12 col-sm-12 col-xs-12 ProviderBlock">
						<div class="row">
							<div class="col col-md-3 col-sm-3 col-xs-12 ProviderImage">
								{% if provider.image %}
									<a href="{{ provider.link }}" class="ProviderLogo">
										<img src="{{ file_url(provider.image) }}">
									</a>
								{% endif %}
								
								{% if provider.sponsored %}
									<div class="sponsoredLogo">
										<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_se_fodbald/src/images/sponsored-logo-1.png" class="sponsoredLogo-1">
										<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_se_fodbald/src/images/sponsored-logo-2.png" class="sponsoredLogo-2">				
									</div>
								{% endif %}
							</div>
							<div class="col col-md-7 col-sm-7 col-xs-12 ProviderContent">
								<h2>{{ provider.name }} {{ "se_fodbald_provider_block_head"|t }}<span class="rating"></span></h2>
								<p class="description"><strong>{{ "se_fodbald_provider_block_review"|t }}</strong>{{ provider.review }}</p>
								<p class="description"><strong>{{ "se_fodbald_provider_block_quality"|t }}</strong>{{ provider.quality }}</p>
								<p class="description"><strong>{{ "se_fodbald_provider_block_price"|t }}</strong>{{ provider.price }}</p>
								<p>{{ "se_fodbald_provider_block_list"|t }}</p>
								<ol class="steps">
									<li>{{ "se_fodbald_provider_block_step_1"|t }}</li>
									<li>{{ "se_fodbald_provider_block_step_2"|t }}</li>
									<li>{{ "se_fodbald_provider_block_step_3"|t }}</li>
								</ol>
							</div>
							<div class="col col-md-2 col-sm-2 col-xs-12 ProviderActions">
								<a href="{{ provider.link }}" class="btn round right-arrow">{{ "se_fodbald_provider_block_button"|t }}<span>{{ provider.name }}</span></a>
								<a href="#popup3" class="popUp">{{ "se_fodbald_provider_block_popup"|t }}</a>
								<p class="disclaimer">{{ "se_fodbald_provider_block_disclaimer"|t }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<div class="row ProviderText">
			<div class="col col-md-12 col-sm-12 col-xs-12">
				{{ "se_fodbald_providers_text_head_2"|t }}
				{{ "se_fodbald_providers_text_2"|t }}
				
				{{ "se_fodbald_providers_text_head_3"|t }}
				{{ "se_fodbald_providers_text_3"|t }}
				
				{{ "se_fodbald_providers_text_head_3"|t }}
				{{ "se_fodbald_providers_text_3"|t }}
			</div>
		</div>
	</div>
</section>