<section class="o-sport-program sport_home_slider">
    <div class="container">
        <div class="col-md-12 arrow">
            <img src="http://images-cdn.watchfooty.co.uk/watchfooty.co.uk-ver2/gray-down-arw.png">
        </div>
        <div class="col-md-12 text-center">
            <h3 class="live_list_head" {{ colors ? attributes.setAttribute('style', 'color: ' ~ colors.main) : ''}} >{{ "sport_livestream_stream_list_head" | t |raw }}</h3>
        </div>
        {% for stream in tags%}
            {% if loop.index == 1 %}
                <div class="col-md-12 top">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-3">
                                {% if stream.sponsor == 1 %}
                                    <img class="absolute strip-right" width="auto" height="auto" alt="green-strip-right" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/green-strip-right.png">
                                {% endif %}
                                <div class="three twelfth align-center double-pad-top-desktop">
                                    <a class="provider-tv reDir" target="_blank" id="reDir" style="censor:pointer;">



                                      {% if stream.streamIMG != '' %}
                                        <img width="161" height="213" alt="{{ stream.streamName }} icon" src="{{ file_url(stream.streamIMG) }}">
                                      {% else %}
                                        <img  {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main) : '' }}
                                             alt="{{ stream.streamName }}" width="161" height="213"  src="/themes/custom/stevethemebase/src/images/step1.png" icon>
                                      {% endif %}



                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9 border_line_left">
                                <h3 class="half-gap-bottom">{{"Se_live" | t}} {{stream.sport.sportName |t}} {{"med" | t}} {{ stream.streamName }}</h3>
                                <p class="provider-quality-div fs13 zero"><strong>{{ stream.FrontPageQualityHeading }}:</strong>{{ stream.FrontPageQualityContent | raw}}</p>
                                <p class="provider-quality-div fs13 zero"><strong>{{ stream.FrontPageUdvalgHeading }}:</strong> {{ stream.FrontPageUdvalgContent | raw}}</p>
                                <p class="provider-price-div fs13"><strong>{{ stream.FrontPagePriceHeading }}:</strong> {{ stream.FrontPagePriceContent | raw}}</p>
                                <div class="pad_top text-center">
                                    <div class="row">

                                        <div class="col-md-3">
                                            <img class="arrow_live_stream inside" alt="Pil" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png">
                                            <p class="fs10m gap-bottom gray"><strong>{{ stream.FrontPageIcons1Heading }}</strong></p>
                                            <a target="_blank" id="reDir" class="null reDir" style="censor:pointer;">
                                                <!-- img class="half-gap-bottom" src="{{ file_url(stream.streamIMG)}}" width="92" height="70" alt="{{ stream.streamName }} icon" -->

                                                {% if stream.step1 != '' %}
                                                    <img class="mw80pm"  alt="{{ stream.streamName }}" width="92" height="70" class="imgTabStream" alt="{{ stream.streamName }}" src="{{ file_url(stream.step1) }}">
                                                {% else %}
                                                    <img class="mw80pm" {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main) : '' }} alt="{{ stream.streamName }}" width="92" height="70" src="/themes/custom/stevethemebase/src/images/step1.png">
                                                {% endif %}
                                            </a>
                                            <p class="fs11 hide-on-mobile gray">{{ stream.FrontPageIcons1Subheading |raw}}</p>
                                        </div>

                                        <div class="col-md-3">
                                            <img class="arrow_live_stream inside" alt="Pil"
                                                 src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png">
                                            <p class="fs10m gap-bottom gray"><strong>{{ stream.FrontPageIcons2Heading }}</strong></p>
                                            <a target="_blank" id="reDir" class="null reDir"  style="censor:pointer;">
                                                {% if stream.step2 != '' %}
                                                    <img class="mw80pm" {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main) : '' }} alt="Opret en konto og Stream fodbold live" width="92" height="70" src="{{ file_url(stream.step2) }}">
                                                {% else %}
                                                    <img class="mw80pm" {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main) : '' }} alt="Opret en konto og Stream fodbold live" width="92" height="70" src="/themes/custom/stevethemebase/src/images/step2.png">
                                                {% endif %}
                                            </a>
                                            <p class="fs11 hide-on-mobile gray">{{ stream.FrontPageIcons2Subheading |raw}}</p>
                                        </div>

                                        <div class="col-md-3">
                                            <img class="arrow_live_stream" alt="Pil" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png">
                                            <p class="fs10m gap-bottom gray"><strong>{{ stream.FrontPageIcons3Heading }}</strong></p>
                                            <a target="_blank" id="reDir" class="null reDir"  style="censor:pointer;">
                                                {% if stream.step3 != '' %}
                                                    <img class="mw80pm" alt="green-icon-3" width="92" height="70" {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main) : '' }} src="{{ file_url(stream.step3) }}">
                                                {% else %}
                                                    <img class="mw80pm" alt="green-icon-3" width="92" height="70" {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main) : '' }} src="/themes/custom/stevethemebase/src/images/step3.png">
                                                {% endif %}
                                            </a>
                                            <p class="fs11 hide-on-mobile gray">{{ stream.FrontPageIcons3Subheading |raw}}<br>
                                                <small class="fs8 note gray-color">{{ stream.FrontPageIcons3note |raw}}</small>
                                            </p>
                                        </div>

                                        <div class="col-md-3">
                                            <a class="btn arrow red" role="button" target="_blank" href="{{stream.endLink}}" style="censor:pointer;" id="reDir"  >
                                                <span class="relative fs18">
                                                    {% if stream.FrontPageAffiliateButtonText != '' and stream.FrontPageAffiliateButtonText != null %}
                                                        {{stream.FrontPageAffiliateButtonText}}
                                                    {% else %}
                                                        {{"Se_live" | t}} {{stream.sport.sportName |t}}
                                                    {% endif %}
                                                </span>
                                                <p class="fs11 zero relative">- {{"med"|t}} {{ stream.streamName }}</p>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 disclaimer_text">
                    <p class="zero" style="font-size: 10px !important; color: #c2c2c2 !important;">
                        {{ stream.DisclaimerContentLiveStreamPage |raw }}
                    </p>
                </div>
            {% else %}
                <div class="col-md-12 margin_top margin_bottom">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="col-md-3" >
                                {% if stream.sponsor == 1 %}
                                    <img class="absolute strip-right" width="auto" height="auto" alt="green-strip-right" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/green-strip-right.png">
                                {% endif %}
                                <div class="three twelfth align-center double-pad-top-desktop">
                                    <a class="provider-tv reDir" target="_blank" id="reDir"
                                       style="censor:pointer;">



                                      {% if stream.streamIMG != '' %}
                                        <img width="161" height="213" alt="{{ stream.streamName }} icon" src="{{ file_url(stream.streamIMG)}}" >
                                      {% else %}
                                        <img  {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main) : '' }}
                                             width="161" height="213"    alt="{{ stream.streamName }}"  src="/themes/custom/stevethemebase/src/images/step1.png" icon>
                                      {% endif %}


                                    </a>
                                </div>
                            </div>

                            <div class="col-md-9 text-left border_line_left">
                                <h3 class="half-gap-bottom">{{"Se_live" | t}} {{stream.sport.sportName |t}} {{"med" | t}} {{ stream.streamName }}</h3>
                                <p class="provider-quality-div fs13 zero"><strong>{{ stream.FrontPageQualityHeading }}:</strong>{{ stream.FrontPageQualityContent | raw}}</p>
                                <p class="provider-quality-div fs13 zero"><strong>{{ stream.FrontPageUdvalgHeading }}:</strong> {{ stream.FrontPageUdvalgContent | raw}}</p>
                                <p class="provider-price-div fs13"><strong>{{ stream.FrontPagePriceHeading }}:</strong> {{ stream.FrontPagePriceContent | raw}}</p>


                                <p class="sedan"><b>{{ stream.FrontPageIcons1Heading }} :</b></p>
                                <ol class="fs13">
                                    <li>{{ stream.FrontPageIcons1Heading }}</li>
                                    <li>{{ stream.FrontPageIcons2Heading }}</li>
                                    <li>{{ stream.FrontPageIcons3Heading }}</li>
                                </ol>
                                <a class="btn arrow red" role="button" target="_blank"style="censor:pointer;" href="{{stream.FrontPageAffiliateButtonUrl}}">
                                    {{"Se_live" | t}} {{stream.sport.sportName |t}}  {{ "hos"|t }} {{ stream.streamName }}
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="ShowBlock btn">
            Show Blocks
        </div>
    </div>
</section>
