<div id="ses_review" class="container-fluid o_sport_home_important_events">
    <div class="row">
        <main class='frontpage'>
            <section class="ses_review_setion">
                <div class="container">
                    <div class="col-md-12 text-center">
                        <h3 class="live_list_head">
                            {{"Find the best bookmakers' live streaming service" |t }}
                        </h3>
                         <h4 class="live_list_subhead"> {{"Here at Watchfooty.co.uk we are passionate about live sport and have spent several hours (days!) checking out those bookmakers offering a live streaming service. We have our favourites, now find yours." |t }} </h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1 live_stream_data">
                        {% for tag in tags %}
                            <div class="panel panel-default ">
                                <div class="panel-body">
                                    <div class="col-md-3">
                                        <div class="three twelfth align-center double-pad-top-desktop">
                                            <a class="provider-tv reDir" target="_blank" href="{{ tag.FrontPageLink}}">

                                                {% if  tag.streamIMG != null and tag.streamIMG !=  ''%}
                                                    <img width="146" height="185" alt="bet365 icon" src="{{file_url(tag.streamIMG) }}">
                                                {% else  %}
                                                    <img width="146" height="185" alt="bet365 icon" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/161x203/StreamProviderLogo_1_161x203_5461f231c4698816398b4d9c.png">
                                                {% endif %}
                                            </a>


                                        </div>
                                    </div>
                                    <div class="col-md-9 text-left">
                                        <div class="block_stream_name">
                                            <h3 class="half-gap-bottom">{{ tag.streamName }}
                                                <span class="strat_left">
                                                    {% for i in 1.. tag.streamRating %}
                                                        <em class="fa fa-star"></em>
                                                    {% endfor %}

                                                    {% for i in 1.. (5 - tag.streamRating) %}
                                                        {% if (5 - tag.streamRating) > 0 %}
                                                            <em class="fa fa-star-o"></em>
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>
                                            </h3>
                                        </div>
                                        <div class="block_stream_body">
                                            <p class="provider-quality-div fs13 zero"> {{ tag.streambody [0:500] | striptags}}</p>
                                        </div>
                                        <div class="block_stream_butom">
                                            <a class="btn btn-default btn-cust-block btn-cust-block-left pull-left" role="button" href="{{ tag.FrontPageLink}}" >
                                                <i class="fa fa-arrow-circle-right"></i> {{ "Read"|t }} {{ tag.streamName }} {{ "review"|t }}</a>

                                            <a class="btn btn-success btn-cust-block btn-cust-block-right pull-right " role="button" target="_blank" rel="nofollow" href="{{ tag.FrontPageLink}}">
                                                <i class="fa fa-arrow-circle-right"></i> {{ tag.FrontPageLinkTitle }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
