<section class="o-sport-program sport_home_slider" {{ colors ? attributes.setAttribute('style', 'border-color: ' ~ colors.arrow_2) : ''}}>
    <div class="container">
        <div class="col-md-12">
            <div class="container">
                {% if tags.AllEvents %}
                    {% for AllEvents in tags %}
                        <h3 class="o_program_text">{{ "sport_schedule_head"|t }}</h3>
                        <div class="panel-group" id="accordionSchedule" role="tablist" aria-multiselectable="true">
                    
                            <div class="panel panel-default panel-kamp">
                                {% for eventDate in AllEvents %}
                                    <div class="panel-heading collabseIN" role="tab" id="heading_{{ eventDate.date |date("d_M_Y") }}">
                                        <h4 class="panel-title">
                                            {% if loop.index == 1 %}
                                                <a class="day_kamp" role="button" data-toggle="collapse" data-parent="#accordionSchedule" href="#collapse{{ eventDate.date |date("d_M_Y") }}" aria-expanded="true" aria-controls="collapse{{ eventDate.date |date("d_M_Y") }}" {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main) : ''}}> {{ eventDate.date |date("l d. M") }}</a>
                                            {% else %}
                                                <a class="day_kamp collapsed" role="button" data-toggle="collapse" data-parent="#accordionSchedule" href="#collapse{{ eventDate.date |date("d_M_Y") }}" aria-expanded="false" aria-controls="collapse{{ eventDate.date |date("d_M_Y") }}" {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main) : ''}}> {{ eventDate.date |date("l d. M") }}</a>
                                            {% endif %}
                                        </h4>
                                    </div>


                                    {% if loop.index == 1 %}
                                        <div id="collapse{{ eventDate.date |date("d_M_Y") }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_{{ eventDate.date |date("d_M_Y") }}" {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main) : ''}}>
                                    {% else %}
                                        <div id="collapse{{ eventDate.date |date("d_M_Y") }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ eventDate.date |date("d_M_Y") }}" {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main) : ''}}>
                                    {% endif %}

                                        <div class="panel-body">
                                            {% for tournament in eventDate.alltournament %}
                                                <div class="panel-group" id="accordion_{{ tournament.eventTournamentIDAcoordion }}" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default in_body interior" {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.schedule_background) : ''}}>
                                                    {# /*--------- Liga 1 --------*/#}
                                                        <div class="panel-heading in_head" role="tab" id="headingTwo">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                                    data-parent="#accordion_{{ tournament.eventTournamentIDAcoordion }}"
                                                                    href="#{{ tournament.eventTournamentIDAcoordion }}"
                                                                    aria-expanded="false" aria-controls="collapseTwo">
                                                                    <span class="no-indent fwnormal fs13-mobile">
                                                                        <img class="inline-block half-gap-right" alt="{{ tournament.tournament }}" width="30" height="30" src="{{ file_url(tournament.tournamentIMG) }}"/> {{ tournament.tournament }}
                                                                         {% if  tournament.events | length > 1 %}
                                                                             <span class="italic  pad-left-desktop half-pad-left-ipad">({{ tournament.events |length }} {{ "matches" |t }}
                                                                                 )</span>
                                                                             {% else %}
                                                                             <span class="italic  pad-left-desktop half-pad-left-ipad">({{ tournament.events |length }} {{ "match" |t }}
                                                                                 )</span>
                                                                         {% endif %}
                                                                    </span>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="{{ tournament.eventTournamentIDAcoordion }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                            <div class="panel-body">
                                                                <ul role="menu" aria-expanded="true">
                                                                    {% for events in tournament %}
                                                                        {% for event in events %}
                                                                            <li class="o_program_match  {% if event.promoted == true  %}promoted{% endif %} ">
                                                                                <div class="pull-left program_match_ind border"><a href="{{ event.eventAlias }}">
                                                                                        <span class="fs16 fs14-mobile half-pad-right"><i class="fa fa-clock-o"></i>
                                                                                            {{ event.eventDate | date("H:i ") }}</span>
                                                                                        <span class="fs16 fs14-mobile half-pad-right bold-mobile-v">
                                                                                            {{ event.eventName }}
                                                                                        </span>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="pull-left program_match_ind border">
                                                                                    <a href="{{ event.eventAlias }}">{{ event.title}} </a>
                                                                                </div>
                                                                                <div class="pull-right">
                                                                                    <a role="button" {{ colors ? attributes.setAttribute('style', 'background: linear-gradient(to bottom, ' ~ colors.button_gradient_light ~ ' 0, ' ~ colors.button_gradient_dark ~ ' 100%)')}} class="btn arrowAfter" href="{{ event.eventAlias }}">
                                                                                        {{"sport_schedule_button" |t}}
                                                                                    </a>
                                                                                </div>
                                                                            </li>
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="carousel slide noEventsCarousel" data-interval="60000" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                {% for Tournament in tags.Tournaments %}
                                    {% if loop.index == 1 %}
                                        <div class="item TournamentBox active">
                                    {% else %}
                                        <div class="item TournamentBox">
                                    {% endif %}
                                        <div class="TournamentName">
                                            <h3>{{ Tournament.tournamentName }}</h3>
                                        </div>
                                        <div class="TournamentDescription">
                                            {{ Tournament.tournamentDescription|raw }}
                                        </div>
                                        <div class="TournamentLink" {{ colors ? attributes.setAttribute('style', 'background-color: ' ~ colors.main_light) : ''}}>
                                            <a href="{{ Tournament.tournamentLink }}" class="btn arrow" {{ colors ? attributes.setAttribute('style', 'background: linear-gradient(to bottom, ' ~ colors.button_gradient_light ~ ' 0, ' ~ colors.button_gradient_dark ~ ' 100%)')}}>
                                                {{ "sport_schedule_read_more"|t }} &nbsp; {{ Tournament.tournamentName }}
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
