<footer class='o-footer'>
    <div class='o-footer__about'>
        <div class="o-footer__about__menu">
            {{ render_block('stevethemebase_footer') }}
            <a href='#' class='o-footer__about__membership'>
                Medlem af
                <img src='http://images-v2-cdn.sesport.dk/sesport.dk-ver2/footer/danske-medier-bg_nw.png'/>
            </a>
            {% if  enable_block('languageswitcher') %}
            <div class="langSwitcher">
                <a>{{ 'Language'|t }} <i class="fa fa-caret-down" aria-hidden="true"></i> </a>
                {{ render_block('languageswitcher') }}
            </div>
            {% endif %}
        </div>
    </div>
    <nav class='o-footer__social'>
        <ul>
            {% for tag in tags %}
                <li>
                    <a href="{{ tag.link }}" title="{{ tag.name }}">
                        <img src="{{ file_url(tag.image) }}" alt="{{ tag.name }}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div class='o-footer__legal'>
        <a href="/">
            <img src='http://images-v2-cdn.sesport.dk/sesport.dk-ver2/footer/responsive.jpg'/>
        </a>
        <span class='o-footer__legal__responsible'>{{ "footer_plugin_responsible" | t }}</span>
        <nav>
            <ul>
                <li>
                    <a href='https://ludomani.dk/'>{{ "footer_plugin_center" | t }}</a>
                </li>
                <li>
                    <a href='#'>{{ "footer_plugin_person_data" | t }}</a>
                </li>
                <li>
                    <a href='/live-stream-reviews'>{{ "footer_plugin_reviews" | t }}</a>
                </li>
                <li>
                    <a href='#'>{{ "footer_plugin_stillede" | t }}</a>
                </li>
                <li>
                    <a href='https://spillemyndigheden.dk/'>{{ "footer_plugin_spillemyndigheden" | t }}</a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#myModal">
                        <img src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/footer/18+.jpg"
                             alt="Kun til 18+"/> {{ "footer_plugin_alderspolitik" | t }}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>

