<main class='frontpage'>
    <div class="container">
        <div class="col-xs-12 text-center top_marging">
            <h3>{{ "Find din live stream udbyder" | t }}</h3>
        </div>
        <div class="col-xs-12 stream_tabs">
            <div class="tabbable tabs-left">

                <ul class="nav nav-tabs">
                    <li class="text-center tabs_header">
                        <span class="inline pull-left Udbyder">{{ "Udbyder"|t }}</span>
                        <span class="inline Kvalitet">{{ "Kvalitet"|t }}</span>
                        <span class="inline pull-right Pris">{{ "Pris"|t }}</span>
                    </li>
                    {% for stream in tags.1.node %}
                        {% if loop.index == 1 %}
                            <li class="active">
                                <a href="#{{ stream.idTabsTemplate }}" data-toggle="tab">
                                    <div class="inline pull-left">
                                        <img class="imgTabStream" alt="{{ stream.streamName }}"
                                             src="{{ file_url(stream.streamIMG) }}">
                                    </div>
                                    <div class="inline ">
                                    <span class="rating" data-rating="{{ stream.streamRating }}">
                                        {% for i in 1.. stream.streamRating %}
                                            <em class="fa fa-star"></em>
                                        {% endfor %}
                                        {% for i in 1.. (5 - stream.streamRating) %}
                                            {% if (5 - stream.streamRating) > 0 %}
                                                <em class="fa fa-star-o"></em>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                    </div>
                                    <div class="inline pull-right">
                                        <i class="pull-left-mobile half-pad-left-mobile">{{ stream.streamPrice | striptags }}</i>
                                        <em class="icon-angle-right absolute right top gap-right fs20 mobile-only"></em>
                                    </div>
                                </a>
                            </li>
                        {% else %}
                            <li class="">
                                <a href="#{{ stream.idTabsTemplate }}" data-toggle="tab">
                                    <div class="inline pull-left">
                                        <img class="imgTabStream" alt="{{ stream.streamName }}"
                                             src="{{ file_url(stream.streamIMG) }}">
                                    </div>
                                    <div class="inline ">
                                        <span class="rating" data-rating="{{ stream.streamRating }}">
                                           {% for i in 1.. stream.streamRating %}
                                               <em class="fa fa-star"></em>
                                           {% endfor %}
                                            {% for i in 1.. (5 - stream.streamRating) %}
                                                {% if (5 - stream.streamRating) > 0 %}
                                                    <em class="fa fa-star-o"></em>
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                    </div>
                                    <div class="inline pull-right">
                                        <i class="pull-left-mobile half-pad-left-mobile">{{ stream.streamPrice | striptags }}</i>
                                        <em class="icon-angle-right absolute right top gap-right fs20 mobile-only"></em>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for stream in tags.1.node %}
                        {% if loop.index == 1 %}
                            <div class="tab-pane active" id="{{ stream.idTabsTemplate }}">
                                <div class="col-xs-12 tab-pane-head">
                                    <img alt="{{ stream.streamName }}"
                                         class="pull-left  hide-on-small-tablet hide-on-mobile"
                                         src="{{ file_url(stream.streamIMG) }}">
                                    <h4 class="pull-left w-65"><span
                                                class="hide-on-mobile">{{ "Se live stream fodbold hos" | t }}</span> {{ stream.streamName }}
                                    </h4>
                                </div>
                                <div class="col-xs-12 tab-pane-body-text">
                                    <h5 class="">{{ stream.FrontPageQualityHeading }}:</h5>
                                    <p>{{ stream.FrontPageQualityContent | raw }}</p>
                                    <h5 class="">{{ stream.FrontPageUdvalgHeading }}:</h5>
                                    <p>{{ stream.FrontPageUdvalgContent | raw }}</p>
                                    <h5 class="">{{ stream.FrontPagePriceHeading }}:</h5>
                                    <p>{{ stream.FrontPagePriceContent | raw }}</p>
                                    <h5 class="">{{ "Sådan gør du" | t }}:</h5>
                                </div>
                                <div class="col-xs-12 tab-pane-body-img">

                                    <div class="inline text-center col-md-3">
                                        <h4 class="open-sans fs16 fs11m half-gap-bottom">
                                            <strong>{{ stream.FrontPageIcons1Heading }}</strong></h4>
                                        <a target="_blank" href="go/{{ stream.streamName }}/f/fp"
                                           data-google-track="yes"
                                           data-category="Football Front Page" data-action="Click"
                                           data-label="{{ stream.streamName }}">
                                            <img class="mw80pm" alt="{{ stream.streamName }}" width="92" height="70"
                                                 src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/92x70/StreamProviderLogo_4_92x70_5465b800c4698850478b55be.png">
                                        </a>
                                        <p class="lh18 hide-on-mobile">{{ stream.FrontPageIcons1Subheading }}</p>
                                    </div>

                                    <div class="inline col-md-1 pad_top">
                                        <img width="56" height="29" alt="Pil"
                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png"
                                             style="top:45px;" class="absolute hide-on-mobile hide-on-ipad">
                                    </div>

                                    <div class="inline text-center col-md-3">
                                        <h4 class="open-sans fs16 fs11m half-gap-bottom">
                                            <strong>{{ stream.FrontPageIcons2Heading }}</strong></h4>
                                        <a target="_blank" href="go/{{ stream.streamName }}/f/fp"
                                           data-google-track="yes"
                                           data-category="Football Front Page" data-action="Click"
                                           data-label="{{ stream.streamName }}">
                                            <img class="mw80pm" alt="Opret en konto og Stream fodbold live" width="92"
                                                 height="70"
                                                 src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-2.png">
                                        </a>
                                        <p class="lh18 hide-on-mobile">{{ stream.FrontPageIcons2Subheading }}</p>
                                    </div>

                                    <div class="inline col-md-1 pad_top">
                                        <img width="56" height="29" alt="Pil"
                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png"
                                             style="top:45px;" class="absolute hide-on-mobile hide-on-ipad">
                                    </div>

                                    <div class="inline text-center col-md-3">
                                        <h4 class="open-sans fs16 fs11m half-gap-bottom">
                                            <strong>{{ stream.FrontPageIcons3Heading }}</strong></h4>
                                        <a target="_blank" href="go/{{ stream.streamName }}/f/fp"
                                           data-google-track="yes"
                                           data-category="Football Front Page" data-action="Click"
                                           data-label="{{ stream.streamName }}">
                                            <img class="mw80pm" alt="green-icon-3" width="92" height="70"
                                                 src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-3.png">
                                        </a>
                                        <p class="lh18 zero hide-on-mobile">{{ stream.FrontPageIcons3Subheading }}</p>
                                        <small class="gray fs9 block hide-on-mobile">{{ stream.FrontPageIcons3note |raw }}</small>
                                    </div>

                                </div>
                                <div class="col-xs-12 tab-pane-body-btn">
                                    <div class="pull-left">
                                        <a target="_blank" role="button" class="grey"
                                           href="{{ stream.FrontPageButtonsReviewButton }}">
                                            <i class="fa fa-arrow-circle-right"></i> {{ stream.FrontPageButtonsReviewButton }}
                                        </a>

                                        <a target="_blank" role="button" class="green"
                                           href="{{ stream.FrontPageAffiliateButtonUrl }}">
                                            <i class="fa fa-arrow-circle-right"></i> {{ stream.FrontPageAffiliateButtonText }}
                                        </a>
                                    </div>
                                </div>

                            </div>
                        {% else %}
                            <div class="tab-pane" id="{{ stream.idTabsTemplate }}">
                                <div class="col-xs-12 -tab-pane-head">
                                    <img alt="{{ stream.streamName }}"
                                         class="pull-left  hide-on-small-tablet hide-on-mobile"
                                         src="{{ file_url(stream.streamIMG) }}">
                                    <h4 class="pull-left w-65"><span
                                                class="hide-on-mobile">{{ "Se live stream fodbold hos" | t }}</span> {{ stream.streamName }}
                                    </h4>
                                </div>
                                <div class="col-xs-12 tab-pane-body-text">
                                    <h5 class="">{{ stream.FrontPageQualityHeading }}:</h5>
                                    <p>{{ stream.FrontPageQualityContent | raw }}</p>
                                    <h5 class="">{{ stream.FrontPageUdvalgHeading }}:</h5>
                                    <p>{{ stream.FrontPageUdvalgContent | raw }}</p>
                                    <h5 class="">{{ stream.FrontPagePriceHeading }}:</h5>
                                    <p>{{ stream.FrontPagePriceContent | raw }}</p>
                                    <h5 class="">{{ "Sådan gør du" | t }}:</h5>
                                </div>
                                <div class="col-xs-12 tab-pane-body-img">

                                    <div class="inline text-center col-md-3">
                                        <h4 class="open-sans fs16 fs11m half-gap-bottom">
                                            <strong>{{ stream.FrontPageIcons1Heading }}</strong></h4>
                                        <a target="_blank" href="go/{{ stream.streamName }}/f/fp"
                                           data-google-track="yes"
                                           data-category="Football Front Page" data-action="Click"
                                           data-label="{{ stream.streamName }}">
                                            <img class="mw80pm" alt="{{ stream.streamName }}" width="92" height="70"
                                                 src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/92x70/StreamProviderLogo_4_92x70_5465b800c4698850478b55be.png">
                                        </a>
                                        <p class="lh18 hide-on-mobile">{{ stream.FrontPageIcons1Subheading }}</p>
                                    </div>

                                    <div class="inline col-md-1 pad_top">
                                        <img width="56" height="29" alt="Pil"
                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png"
                                             style="top:45px;" class="absolute hide-on-mobile hide-on-ipad">
                                    </div>

                                    <div class="inline text-center col-md-3">
                                        <h4 class="open-sans fs16 fs11m half-gap-bottom">
                                            <strong>{{ stream.FrontPageIcons2Heading }}</strong></h4>
                                        <a target="_blank" href="go/{{ stream.streamName }}/f/fp"
                                           data-google-track="yes"
                                           data-category="Football Front Page" data-action="Click"
                                           data-label="{{ stream.streamName }}">
                                            <img class="mw80pm" alt="Opret en konto og Stream fodbold live" width="92"
                                                 height="70"
                                                 src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-2.png">
                                        </a>
                                        <p class="lh18 hide-on-mobile">{{ stream.FrontPageIcons2Subheading }}</p>
                                    </div>

                                    <div class="inline col-md-1 pad_top">
                                        <img width="56" height="29" alt="Pil"
                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png"
                                             style="top:45px;" class="absolute hide-on-mobile hide-on-ipad">
                                    </div>

                                    <div class="inline text-center col-md-3">
                                        <h4 class="open-sans fs16 fs11m half-gap-bottom">
                                            <strong>{{ stream.FrontPageIcons3Heading }}</strong></h4>
                                        <a target="_blank" href="go/{{ stream.streamName }}/f/fp"
                                           data-google-track="yes"
                                           data-category="Football Front Page" data-action="Click"
                                           data-label="{{ stream.streamName }}">
                                            <img class="mw80pm" alt="green-icon-3" width="92" height="70"
                                                 src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-3.png">
                                        </a>
                                        <p class="lh18 zero hide-on-mobile">{{ stream.FrontPageIcons3Subheading }}</p>
                                        <small class="gray fs9 block hide-on-mobile">{{ stream.FrontPageIcons3note |raw }}</small>
                                    </div>

                                </div>
                                <div class="col-xs-12 tab-pane-body-btn">
                                    <div class="pull-left">
                                        <a target="_blank" role="button" class="grey"
                                           href="{{ stream.FrontPageButtonsReviewButton }}">
                                            <i class="fa fa-arrow-circle-right"></i> {{ stream.FrontPageButtonsReviewButton }}
                                        </a>

                                        <a target="_blank" role="button" class="green"
                                           href="{{ stream.FrontPageAffiliateButtonUrl }}">
                                            <i class="fa fa-arrow-circle-right"></i> {{ stream.FrontPageAffiliateButtonText }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
