<section class="o_sport_home_important_events">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1  header_o_sport_home_important_events">
                    <h2 class="">De mest populære kampe til DIG</h2>
                    <h3 class="">
                        Vi giver dig den bedste fodbold i verden, de fedeste optakter og muligheden
                        for at se live stream fodbold i den højeste kvalitet. Hver dag bliver en fodbold-fest!
                    </h3>
                </div>
                {% for nodeData in tags %}
                    <div class="col-xs-12 col-md-4 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                {% for  participant in nodeData.participantsList %}
                                    <div class="porticipant_one">{{ participant.name }}</div>
                                {% endfor %}
                                {# <div class="porticipant_two">{{ nodeData.eventParticipant.participant.1.participantName }}</div>#}

                            </div>
                            <div class="panel-body">
                                <div class="vs_logo vs_front">
                                    <h4>VS</h4>
                                </div>
                                <div class="teams">
                                    {% for  participant in nodeData.participantsList %}
                                        <div class="vs_logo team_logo_front">
                                            <img class="gap-top team center" src="{{ file_url(participant.logo) }}" width="70" height="70" alt="{{ participant.name }}">
                                        </div>
                                    {% endfor %}


                                    <img class="ground_fealds" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ground-small.png" width="310" height="77" alt="ground-small">

                                    <div class="team_logo_front_date">{{ nodeData.eventDate |date("d. M Y") }} - {{ "kl." |t }} {{ nodeData.eventDate |date("H:i") }}</div>
                                </div>
                                <div class="body_text">
                                    <div class="pad-top pad-bottom border-bottom">
                                        <p class="fs13_text">
                                            {{"Horsens møder Viborg hjemme"|t}} {{ "d." |t}}{{ nodeData.eventDate |date("d. M Y") }}{{ "kl." |t }}
                                            {{ nodeData.eventDate |date("H:i") }}{{ "i kampen om 3 point i - se med her"|t }}
                                        </p>
                                        <a style="color: #858585" class="fs13_link" href="{{ nodeData.eventAlias }}">Læs hele artiklen her &gt;&gt;</a></div>
                                </div>
                                <div class="panel-footer">
                                    <a role="button" class="btn" href="{{ nodeData.eventAlias }}">
                                        <i class="fa fa-arrow-circle-right"></i> Se Live Online</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>