<section class="o-sport-program sport_home_slider">
    <div class="container">
        <div class="col-md-12">
            <div class="container">
                <h3 class="o_program_text">{{ "sport_schedule_head"|t }}</h3>
                <div class="panel-group" id="accordionSchedule" role="tablist" aria-multiselectable="true">
                    {% for AllEvents in tags %}
                    <div class="panel panel-default panel-kamp">
                        {% for eventDate in AllEvents %}
                        <div class="panel-heading collabseIN" role="tab" id="heading_{{ eventDate.date |date("d_M_Y") }}">
                            <h4 class="panel-title">
                                <a class="day_kamp" role="button" data-toggle="collapse" data-parent="#accordion_{{ eventDate.date |date("d_M_Y") }}" href="#collapse{{ eventDate.date |date("d_M_Y") }}" aria-expanded="true" aria-controls="collapse{{ eventDate.date |date("d_M_Y") }}"> {{ eventDate.date |date("l d. M") }}</a>
                            </h4>
                        </div>


                            {% if loop.index == 1 %}
                                <div id="collapse{{ eventDate.date |date("d_M_Y") }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ eventDate.date |date("d_M_Y") }}">
                            {% else %}
                                <div id="collapse{{ eventDate.date |date("d_M_Y") }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ eventDate.date |date("d_M_Y") }}">
                            {% endif %}

                            <div class="panel-body">
                                    {% for tournament in eventDate.alltournament %}
                                        <div class="panel-group" id="accordion_{{ tournament.eventTournamentIDAcoordion }}" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default in_body interior">
                                                {# /*--------- Liga 1 --------*/#}
                                                <div class="panel-heading in_head" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion_1"
                                                           href="#{{ tournament.eventTournamentIDAcoordion }}"
                                                           aria-expanded="false" aria-controls="collapseTwo">
                                             <span class="no-indent fwnormal fs13-mobile">
                                                  <img class="inline-block half-gap-right" alt="{{ tournament.tournament }}" width="30" height="30" src="{{ file_url(tournament.tournamentIMG) }}"/> {{ tournament.tournament }}
                                                 {% if  tournament.events | length > 1 %}
                                                     <span class="italic  pad-left-desktop half-pad-left-ipad">({{ tournament.events |length }} {{ "matches" |t }}
                                                         )</span>
                                                     {% else %}
                                                     <span class="italic  pad-left-desktop half-pad-left-ipad">({{ tournament.events |length }} {{ "match" |t }}
                                                         )</span>
                                                 {% endif %}
                                             </span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="{{ tournament.eventTournamentIDAcoordion }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <ul role="menu" aria-expanded="true">
                                                            {% for events in tournament %}
                                                                {% for event in events %}
                                                                    <li class="o_program_match">
                                                                        <span class="pull-left program_match_ind border"><a href="{{ event.eventAlias }}"><i class="fs16 fs14-mobile half-pad-right"><i class="fa fa-clock-o"></i> {{ event.eventDate | date("H:i ") }}</i><i class="fs16 fs14-mobile half-pad-right bold-mobile-v">{{ event.eventName }}</i></a></span>
                                                                        <span class="pull-left program_match_ind border"><a href="{{ event.eventAlias }}">{{ event.title}}</a></span>
                                                                        <span class="pull-right"><a role="button" class="btn btn-success-kamp" href="{{ event.eventAlias }}">{{"sport_schedule_button" |t}} <i class="fa fa-arrow-circle-right"></i> </a></span>
                                                                    </li>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</section>
