<section class="blogGeneralbody">
    <div class="container">
        {% for event in tags %}
            {% if(loop.index == 1) %}
                <section class="row blog_eventHead">
                    <div class="col-md-12">
                        <div class="panel panel-default ">
                            <div class="panel-body headPanel">
                                <div class="col-md-5 bloghead">
                                     <span class="teams">
                                    {% for Participant in event.participantsList %}
                                        <img class="img-circle" alt=" {{ Participant.name }}"
                                             name=" {{ Participant.name }}"
                                             src="{{ file_url(Participant.logo) }}">
                                    {% endfor %}
                                    </span>
                                </div>
                                <div class="col-md-7 ">
                                    <div class="blogheadText" {{ colors ? attributes.setAttribute('style', 'border-color: ' ~ colors.main) : ''}}>
                                        <a href="{{ event.eventAlias }}">
                                            <h2>{{ "sport_showcase_head_titulo_1" | t }} {{ event.title }} {{ "sport_showcase_head_sub_header" | t }} </h2>
                                        </a>
                                        <a href="{{ event.TournamentAlias }}"> {{ event.eventTournamentName }} </a> {{ event.eventDate  | date("D d. M/Y") }}</span>
                                    </div>
                                    <div class="eventslist" {{ colors ? attributes.setAttribute('style', 'background: ' ~ colors.main) : ''}}>
                                        {% for Participant in event.participantsList %}
                                            <a href="{{ Participant.participantAlias }}">
                                                <span>{{ Participant.name }}{% if loop.last == false %}{{ "," }}{% endif %} </span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="eventText">
                                        <p>
                                            {{ "sport_blog_body_event_text" | t }}
                                            {% for Participant in event.participantsList %}
                                                <span>{{ Participant.name }}{% if loop.last == false %}{{ "," }}{% endif %} </span>
                                            {% endfor %}
                                            {{ "sport_blog_body_event_sub_text" | t }}
                                        </p>
                                    </div>
                                    <div class="eventButtom" {{ colors ? attributes.setAttribute('style', 'background: ' ~ colors.main) : ''}}>
                                        <a href="{{ event.eventAlias }}">
                                            <span class="glyphicon glyphicon-circle-arrow-right"></span> {{ "sport_popular_match_intro" |t }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row blogMiddelSec" {{ colors ? attributes.setAttribute('style', 'background: ' ~ colors.main) : ''}}>
                    <div class="col-md-12">
                        {{ "sport_blog_body_blog_middel_sec"|t }}
                    </div>
                </section>

            {% else %}

                {% if (loop.index == 2 or loop.index == 5 or loop.index == 8  ) %}
                    <section class="row blog_row">
                {% endif %}
                <div class="col-xs-12 col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="teams">
                                <div class="vs_logo team_logo_front">
                                    {% for Participant in event.participantsList %}
                                        <img class="team" alt=" {{ Participant.name }}"
                                             name="{{ Participant.name }}"
                                             src="{{ file_url(Participant.logo) }}">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="body_text">
                                <div>
                                    <div class="title">
                                        <a href="{{ event.eventAlias }}">
                                            <h4>{{ event.title }}</h4>
                                        </a>
                                        <span class="icon-calendar">
                                             <a href="{{ event.TournamentAlias }}"> {{ event.eventTournamentName }} </a> {{ event.eventDate  | date("D d. M/Y") }}</span>
                                    </div>
                                    <div class="eventslist" {{ colors ? attributes.setAttribute('style', 'background: ' ~ colors.main) : ''}}>
                                        {% for Participant in event.participantsList %}
                                            <a href="{{ Participant.participantAlias }}">
                                                <span>{{ Participant.name }}{% if loop.last == false %}{{ "," }}{% endif %} </span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="eventText">
                                        <p>
                                            {{ "sport_blog_body_event_text" | t }}
                                            {% for Participant in event.participantsList %}
                                                <span>{{ Participant.name }}{% if loop.last == false %}{{ "," }}{% endif %} </span>
                                            {% endfor %}
                                            {{ "sport_blog_body_event_sub_text" | t }}
                                        </p>
                                        <p class="link">
                                            <a href="{{ event.eventAlias }}" {{ colors ? attributes.setAttribute('style', 'color: ' ~ colors.main) : ''}} >{{ "sport_blog_body_read_more" |t }}!</a>
                                        </p>
                                    </div>
                                    <div class="eventButtom" {{ colors ? attributes.setAttribute('style', 'background: ' ~ colors.main) : ''}}>
                                        <a href="{{ event.eventAlias }}">
                                            <span class="glyphicon glyphicon-circle-arrow-right"></span> {{ "sport_popular_match_intro" |t }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if (loop.index == 4 or loop.index == 7 or loop.index == 10 ) %}
                    </section>
                {% endif %}


            {% endif %}
        {% endfor %}
    </div>
</section>

