<section class="PopupPlugin">
	<div class="popupContainer" id="popup1">
		<div class="popupInner">
			<span><strong>{{ "fodbald_streams_popup_1_head"|t }}</strong></span>
			{{ "fodbald_streams_popup_1_text"|t }}
		</div>
	</div>
	<div class="popupContainer agepolicy" id="popup2">
		<div class="popupInner">
			<span><strong>{{ "fodbald_streams_popup_2_head"|t }}</strong></span>
			{{ "fodbald_streams_popup_2_text"|t }}
			<a href="#">{{ "fodbald_streams_popup_2_button"|t }}</a>
        </div>
	</div>
</section>