<div class="AdBlockPlugin">
	<div class="AdBlockContainer">
		<div class="AdBlockClose">×</div>
		<h1>{{ "ad_block_head"|t }}</h1>
		<hr>
		{% if data %}
			{{ data|raw }}
		{% else %}
			<h4>{{ "ad_block_subhead_1"|t }}</h4>
			<p>{{ "ad_block_text_1"|t }}</p>
			<h4>{{ "ad_block_subhead_2"|t }}</h4>
			<p>{{ "ad_block_text_2"|t }}</p>
		{% endif %}		
	</div>
</div>