<section class="o-sport-calendar">
    <div class="container text-center">
        <div class="col-xs-12">
            <h1>Se fodbold live online</h1>
            <h2>Brug oversigten og find ud af, hvor du kan se kampene live online.</h2>
        </div>
        <div class="col-xs-12 text-left">
            <table class="table table-hover">
                <thead>
                <tr class="success">
                    <th>Tid</th>
                    <th>Kamp</th>
                    <th>Liga</th>
                    <th>Kanal</th>
                </tr>
                </thead>
                <tbody>

                {% for AllEvents in tags%}
                    {% for eventDate in AllEvents%}
                             <tr class="active_plus"><td colspan="4">{{eventDate.date |date("D d. M")}}</td></tr>
                        {% for tournament in eventDate.alltournament%}
                            {% for events in tournament%}
                                {% for event in events%}
                                        <tr class="active">
                                <td scope="row">{{ event.eventDate | date("H:i ")}}</td>
                                <td> {{ event.eventName }}</td>
                                <td>{{tournament.tournament}}</td>
                                  <td class="img_row">
                                    {% for eventStreams in event.eventStreams%}
                                        <a id="reDir" class="null reDir">
                                            <img width="auto" height="25" class="pull-left-mobile " alt="{{ eventStreams.streamName}} " src="{{  file_url(eventStreams.streamIMG) }}">
                                        </a>
                                    {% endfor %}
                                      <i class="mobile-only icon-plus half-gap-top"></i>
                                      <i class="icon-caret-right pull-right half-gap-top"></i>
                                  </td>
                            </tr>
                                   {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}

                <tr class="tr_btn">
                    <td colspan="4">
                        <a class="btn btn-danger-custom btn-table-gren">Vis flere dage frem</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>