<div class="row">
    {% if is_front == false %}
        <nav class='o-header__secondary'>
            <ul> {% for tag in tags[0] %}
                    <li><a href='/{{ tag|striptags }}'>   {{ tag|striptags }}</a></li>
                    <li><a href='/{{ tag|striptags }}/live_stream_{{ tag|striptags }}'>Live Stream {{ tag|striptags }}</a></li>
                    <li><a href='/{{ tag|striptags }}/blog'>{{ tag|striptags }} Blog</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</div>


{% for nodeData in tags[1] %}
<div class="row">
    <div class="container">
        <div class="col-md-8">
            <div class="col-lg-offset-2 col-md-6">
                <h1 class='o-sportpage-hero__title'>
                   {{ "Se"|t }}
                </h1></div>
            <div class="col-lg-offset-3 col-md-9">
                <h1 class='o-sportpage-hero__title '>
                    <span class="text_active"> {{ "Live Stream" |t }}</span>
                </h1></div>
            <div class="col-lg-offset-6 col-md-6">
                <h1 class='o-sportpage-hero__title'> {% for tag in tags[0] %}{{ tag|striptags }}{% endfor %}</h1></div>
        </div>
        <div class="col-md-4 sport_home">
            <div class="three-step-div pad-bottom hide-on-mobile">
                <h2 class="no-padding head green">{% for tag in tags[0] %}{{ tag|striptags }}{% endfor %} {{ "skal ses live!" }} </h2>
                <p class="zero">{{ "Følg dit yndlingshold" |t}}:</p>
                <p class="head green"><i class="fa fa-laptop white fs30"></i> {{ "live på TV" |t}}</p>
                <p class="head green"><i class="fa fa-plane white fs40"></i> {{ "live på stadion" |t}}</p>
                <p class="head green no-pad-bottom"><i class="fa fa-desktop white fs28"></i> {{ "eller live online" |t}}
                </p>
                <p class="zero">{{ "på pc, mobil eller tablet." |t}}</p>
                <hr>
                <p>{{ "Næste topkamp" |t}}: {{ nodeData.0.field_game_date.0.value  |date("d.M Y")}}
                    <br><strong>Kl. {{ nodeData.0.field_game_date.0.value  |date("H:i")}} : {{ nodeData.0.title.0.value}}</strong></p>
                <p>
                    <a role="button" class="btn green" href="{{ nodeData.0.nid.0.value}}"><i class="fa fa-arrow-circle-right"></i> {{ nodeData.0.title.0.value}}</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
