<section class="LeaguesListPlugin">
	<div class="container">
		<div class="row">
			<div class="col col-md-12">
				<h2>{{"fodbald_streams_leagues_list_block_title" | t}}</h2>
			</div>
		</div>
		<div class="row LeagueList">
			{% if tags %}
				<div class="col col-md-12">
					<div class="panel panel-default List">
						<div class="panel-heading">
							<h3 class="panel-title">{{ "fodbald_streams_leagues_list_title"|t }}</h3>
						</div>
						<div class="panel-body">				
							<ul>
								{% for leagues in tags %}
									{% for league in leagues.list %}
										<li><a href="{{league.link}}"><img src="{{ file_url(league.img) }}">{{ league.name}}</a></li>  
									{% endfor %}
								{% endfor%}
							</ul>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>