<section class="HomeMatchesPlugin">
	<div class="container">
		<div class="row">
			<div class="col col-md-6 Previews">
				<h2>{{"live_fodbald_home_matches_title" | t}}</h2>
				<div class="row">
					{% if article %}
						<ul class="HomePreviewsSlider">
							{% for slide in article %}
								<li>
									{% for preview in slide %}
										<div class="col col-md-10 Article">
											<h2>
												<a href="{{ preview.link }}"> {{ "preview.name" }} </a>
												<strong>|</strong> 
												{{ preview.date | date("d. M Y") }}
											</h2>
											{{ preview.description | raw }}
											<a href="{{ preview.link }}">{{ "live_fodbald_article_read_more"|t }}</a>
											<div class="writer">
												<p>– <a href="{{ preview.userLink }}">{{ preview.userName }}</a></p>
												<a href="{{ preview.userLink }}">
													<i class="fa fa-quote-left" aria-hidden="true"></i>
													{% if preview.userImage %}
														<img src="{{ preview.userImage }}">
													{% else %}
														<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_live_fodbald/src/images/profile_default.png">
													{% endif %}	
												</a>
											</div>
										</div>
									{% endfor %}
								</li>
							{% endfor %}		
						</ul>
					{% endif %}
				</div>
			</div>
			<div class="col-md-6 ProgramBlock">
				<div class="ProgramHeader">
					<h3 class="title">{{"live_fodbald_home_matches_program_title" | t}}</h3>
				</div>
				<div class="ProgramList">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						{% for key, day in tags.schedule %}
							{% set PanelID = 'D' ~ key %}
							{% set HeadID = 'H' ~ key %}
							{% set AccordionID = 'A' ~ key %}
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="{{ HeadID }}">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ PanelID }}" aria-expanded="false" aria-controls="{{ PanelID }}">
											{{ day.format }}
										</a>
									</h4>
								</div>
								
								<div id="{{ PanelID }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ HeadID }}">
									<div class="panel-body">
										<div class="panel-group InnerPanels" id="{{ AccordionID }}" role="tablist" aria-multiselectable="true">
											{% for id, league in day.leagues %}
												{% set LeaguePanelID = PanelID ~ 'L' ~ id %}
												{% set LeagueHeadID = HeadID ~ 'L' ~ id %}
												<div class="panel panel-default">
													<div class="panel-heading" role="tab" id="{{ LeagueHeadID }}">
														<h4 class="panel-title">
															<a role="button" data-toggle="collapse" data-parent="#{{ AccordionID }}" href="#{{ LeaguePanelID }}" aria-expanded="false" aria-controls="{{ LeaguePanelID }}">
																{% if league.image %}
																	<img src="{{ file_url(league.image) }}">
																{% endif %}
																{{ league.name }}
															</a>
														</h4>
													</div>
													<div id="{{ LeaguePanelID }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ LeagueHeadID }}">
														<div class="panel-body">
															<ul class="Matches">
																{% for match in league.list %}
																	<li>
																		<a href="{{ match.link }}">
																			{% if match.teams %}
																				<span class="date">{{ match.date }}</span>
																				{% for team in match.teams %}
																					<span class="team">
																						{{ team.name }}
																						{% if team.image %}
																							<img src="{{ file_url(team.image) }}">
																						{% endif %}
																					</span>
																				{% endfor %}
																			{% endif %}
																		</a>
																	</li>
																{% endfor %}
															</ul>
														</div>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>					
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="ProgramFooter">
					<a class="btn arrow" href="/fodbaldprogram">
						{{"live_fodbald_home_matches_program_button" | t}}
					</a>
				</div>
			</div>	
		</div>
	</div>
</section>