<section class="HomeFeaturesPlugin ParalaxBlock">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>{{ "live_fodbald_home_feature_title" | t}}</h2>
			</div>
		</div>
		<div class="row animation">
			<div class="col col-md-4 wp2">
				<div class="icon">
					<i class="fa fa-male"></i>
				</div>
				<h3>{{ "live_fodbald_home_feature_b1_title" | t}}</h3>
				<p class="short">{{ "live_fodbald_home_feature_b1_text" | t}}</p>
			</div>
			<div class="col col-md-4 wp2 delay-05s">
				<div class="icon">
					<i class="fa fa-futbol-o"></i>
				</div>
				<h3>{{ "live_fodbald_home_feature_b2_title" | t}}</h3>
				<p class="short">{{ "live_fodbald_home_feature_b2_text" | t}}</p>
			</div>
			<div class="col col-md-4 wp2 delay-1s">
				<div class="icon">
					<i class="fa fa-youtube-play"></i>
				</div>
				<h3>{{ "live_fodbald_home_feature_b3_title" | t}}</h3>
				<p class="short">{{ "live_fodbald_home_feature_b3_text" | t}}</p>
			</div>
		</div>
	</div>
</section>