{% if background %}
    <section class="o_sport_home_important_events withBackground" style="background: url({{ file_url(background) }}) no-repeat center top; background-size: cover;">
{% else %}
    <section class="o_sport_home_important_events">
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 ">
                <div>
                    <h1 class="head_text grey"> {{ tags.title ? tags.title : "sport_livestream_carrusel_head"|t }}</h1>
                    {% if tags.description %}
                        {{ tags.description|raw }}
                    {% else %}
                        <p>{{ "sport_livestream_carrusel_sudhead"|t }}</p>
                    {% endif %}

                </div>
            </div>
            <div class="col-xs-12 col-md-4 grounds">
                <div class="text-center">
                    <p class="udvalgte" {{ colors ? attributes.setAttribute('style', 'color: ' ~ colors.main) : ''}} >{{ "sport_livestream_carrusel_list_head"|t|raw }}</p>
                    <!-- Controls -->
                    {% if tags.events|length > 1 %}
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    {% endif %}

                </div>
                <div id="carousel-example-generic" class="carousel slide grounds_items" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        {% for nodeData in tags.events %}
                            {% if loop.index == 1 %}
                                <div class="item active text-center">
                                    <p class="team_date"> <a href="{{nodeData.eventAlias }}" {{ colors ? attributes.setAttribute('style', 'color: ' ~ colors.main) : ''}}>
                                        {{ nodeData.title }}<br> {{ nodeData.eventDate |date("d. M Y")}} kl. {{ nodeData.eventDate |date("H:i")}}
                                        </a>
                                    </p>
                                    {% for participant in nodeData.participantsList %}
                                    <a class="carousel-item-list" href="{{participant.participantAlias }}"> <img class="pull-left  img_left"    src="{{ file_url(participant.logo) }}"  alt="{{participant.name }}"></a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="item text-center">
                                    <p class="team_date"><a href="{{nodeData.eventAlias }}">
                                        {{ nodeData.title }}<br>
                                            {{ nodeData.eventDate |date("d. M Y")}} kl. {{ nodeData.eventDate |date("H:i")}}</a>
                                    </p>
                                    {% for participant in nodeData.participantsList %}
                                        <a class="carousel-item-list" href="{{participant.participantAlias }}"> <img class="pull-left  img_left"    src="{{ file_url(participant.logo) }}"  alt="{{participant.name }}"></a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
