<section class="MatchFeaturesPlugin ParalaxBlock">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>{{ "live_fodbald_match_teams_title" | t }}</h2>
			</div>
		</div>
		<div class="row animation">
			{% set event = tags|first %}	
			{% if event.matchTeams.left %}
				<div class="col col-md-6 wp2">
					{% if event.matchTeams.left.image %}
						<div class="icon nobg">
							<img src="{{ file_url(event.matchTeams.left.image) }}">
						</div>
					{% endif %}
					<h3>{{ event.matchTeams.left.name }}</h3>
					{% if event.matchTeams.left.description %}
						<p>{{ event.matchTeams.left.description |raw}}</p>
					{% endif %}
					<a href="{{ event.matchTeams.left.link }}">{{ "live_fodbald_match_team_link_1" | t}} {{ event.matchTeams.left.name }} {{ "live_fodbald_match_team_link_2" | t }}<i class="fa fa-arrow-right"></i></a>
				</div>
			{% endif %}
			{% if event.matchTeams.right %}
				<div class="col col-md-6 wp2 delay-05s">
					{% if event.matchTeams.right.image %}
						<div class="icon nobg">
							<img src="{{ file_url(event.matchTeams.right.image) }}">
						</div>
					{% endif %}
					<h3>{{ event.matchTeams.right.name }}</h3>
					{% if event.matchTeams.right.description %}
						<p>{{ event.matchTeams.right.description |raw}}</p>
					{% endif %}
					<a href="{{ event.matchTeams.right.link }}">{{ "live_fodbald_match_team_link_1" | t}} {{ event.matchTeams.left.name }} {{ "live_fodbald_match_team_link_2" | t }}<i class="fa fa-arrow-right"></i></a>
				</div>
			{% endif %}
		</div>
	</div>
</section>	