<footer class="SiteFooter">
	<div class="container">
		<div class="row">
			<div class="col col-md-8 col-sm-12 col-xs-12 FooterMenu">
				<span>{{ "fodbald_streams_footer_rights" | t}}</span>
				<ul>
					<li>
						<a class="popup" href="#popup2">
							<span>
								<b>{{ "fodbald_streams_footer_18plus" | t}}</b>
								<img src="/modules/custom/RP_CMS/RP_ThemesIntegration/rp_cms_steve_integration_live_fodbald/src/images/18+.jpg">
							</span>
						</a>
					</li>
					<li><a href="#">{{ "fodbald_streams_footer_gambling" | t}}</a></li>
					<li><a href="#" class="orange">{{ "fodbald_streams_footer_about" | t}}</a></li>
					<li><a href="#" class="orange">{{ "fodbald_streams_footer_faq" | t}}</a></li>
				</ul>
			</div>
			<div class="col col-md-4 col-sm-12 col-xs-12 FooterCopyright">
				<p>{{ "fodbald_streams_footer_developed_by" | t}}<a>Rebelpenguin.dk</a></p>
			</div>
		</div>
	</div>
</footer>